[2015-07-30 04:33] TekkitCommando opened #1 "Null Key"
When Typing /woo register instead of getting a random key, you get "null"

Edit: See #10

[2015-07-30 04:47] TekkitCommando opened #2 "Error With Bukkit.getServer().getOnlinePlayers() List"
A lot has changed in 1.8.x including how online players is stored, the current code puts online players in a list, however in 1.8.x its stored in a collection which as a result breaks the plugin.

[2015-07-30 14:27] TekkitCommando opened #3 "Bukkit Plugin is Terribly Organized"
The Java Side of Woo Minecraft is terribly organized and so I will reorganize it before fixing bugs :)

[2015-07-30 17:50] TekkitCommando opened #4 "private modifier used in unneeded places (or where public would be a better option)"
The private modifier is being used in places where it is unneeded or where public would be better utilized.

If public is used in some places it allows for the plugin to expand its features and compatibility, this also allows api methods to be created (but the plugin will still be secure) :)

For Example ``` public static String Version = "1.0.0"; ```
would be better then: ``` private String Versi

[2015-07-30 20:36] TekkitCommando opened #5 "Code Will Be Pushed to Dev Branch in the Future"
All Code will be Pushed to the Development Branch in the Near Future :)

[2015-07-31 04:54] #5 closed

[2015-08-01 05:21] JayWood commented on #3
This is what happens when you get a Java noobie like me coding Java :D
I wish you the best in working with the Java portion of it, I myself wanted to update it, but haven't had the time to work on my java skills.

[2015-08-01 14:23] TekkitCommando commented on #3
Ok thanks, I am glad that you are ok with this :) I was kinda worried you might think I was stealing your thunder since it was your plugin xD @JayWood

[2015-08-01 14:24] TekkitCommando commented on #3
@JayWood I sent you an invitation to the owners group so you can always join in whenever :)

[2015-08-02 01:59] JayWood commented on #3
Not worried at all, hope it goes well, if you need some WordPress help with it I'm your guy, but my java skills are definitely lacking.

[2015-08-02 02:00] TekkitCommando commented on #3
Ok :)

[2015-08-02 02:10] JayWood commented on #3
My one and only request, keep the code GPLv2 so others may copy it at their leisure!

[2015-08-02 02:18] TekkitCommando commented on #3
Oh ok sorry will change that now, I must of read v3 wrong thought It was just a more up to date version of v2 xD

[2015-08-02 02:19] JayWood commented on #3
I didn't even read it haha, I just know that all my code is GPLv2 compatible

[2015-08-02 02:22] TekkitCommando commented on #3
Oh ok so I might be right but I will change it back xD Also to reduce the amount of kids saying I submitted jars without your permission could you join this organization? I understand if you would rather not :)

[2015-08-02 02:23] JayWood commented on #3
I sure can!

[2015-08-02 02:27] TekkitCommando commented on #3
Thanks! :)

[2015-08-05 15:35] TekkitCommando opened #6 "New Command Format"
I am gonna make the command format a little different :) The current one is not as efficient as it could be :P

[2015-08-05 15:37] TekkitCommando opened #7 "args.length bug"
The current command class always says the argument length is less than 1 :(

[2015-08-06 21:02] TekkitCommando opened #10 "Key String not Generated"
The Config is not generating the key section and the register command is buggy with setting the random key (it always says its already generated, possibly due to the fact that there is no key section?), so more than likely there will need to be a code update (shouldn't take long) after that WooMinecraft's first alpha version will be ready :)

[2015-08-06 21:19] TekkitCommando commented on #7
Fixed :D

[2015-08-06 21:21] TekkitCommando commented on #6
It looks ok for me although the command code itself needs some work, the format looks ok

[2015-08-06 21:22] TekkitCommando commented on #3
I think the organization is fine, might need a little tweaking but not much

[2015-08-06 21:23] #7 closed

[2015-08-06 21:23] #6 closed

[2015-08-06 21:24] #3 closed

[2015-08-06 22:22] TekkitCommando commented on #10
I will do a few tests and see where I wanna go from there, I know another SecureRandom() method I can use if the current won't do :+1:

[2015-08-06 22:46] TekkitCommando commented on #10
Yeah did some tests, it is generating random bytes but not like I want so I am gonna redo the code :)

[2015-08-08 12:19] #4 closed

[2015-08-08 12:27] #1 closed

[2015-08-08 12:29] TekkitCommando commented on #10
ok so after some more tests with uuid generation I am gonna test the plugin today :) If it works I will update the source code on git with my local repository code.

[2015-08-08 15:43] #10 closed

[2015-08-08 20:10] TekkitCommando opened #14 "Config URL and (Possibly) url_check time always resets to default"
The Config URL and possibly the url check time always gets reset to default, I know how to fix it so just adding it to the list :)

[2015-08-08 21:49] TekkitCommando opened #15 "Status Always Empty"
I don't know if this is my fault or actually a bug, I am looking into it but for now its a bug.

@JayWood might know whats wrong but just in case he is really busy and since there is no reason to disturb him I will consult with my php programming friend @phillmac for now :)

[2015-08-08 21:53] TekkitCommando commented on #2
As far as i'm concerned this is fixed :+1:

[2015-08-08 21:53] #2 closed

[2015-08-09 15:46] TekkitCommando commented on #15
I am still looking into whats causing this, but I wont be able to look into it in depth until Tomorrow :)

[2015-08-10 12:19] TekkitCommando commented on #15
@phillmac believe he's found the problem and is gonna be doing some updates to the Java and PHP, He's identified a problem with the Java Code not wanting to communicate with the PHP Code and/or vice versa.

[2015-08-10 12:21] TekkitCommando commented on #14
Semi Fixed on my local repo complete fix and code upload soon :)

[2015-08-14 03:35] JayWood commented on #15
@TekkitCommando @phillmac What do you mean by `status` it's been SO long since I looked at the plugin, but I can definitely give some insight provided more information can be given.

[2015-08-14 03:50] JayWood commented on #15
Figured it's best that I elaborate on the process of contacting WP from the MC instance, so here it goes:
1. The MC server contacts the WP server passing the url parameters of `woo_minecraft` and `key` 1. The main JSON data is handled in `WordPress/minecraft_woo/inc/main.class.php` [line #31](https://github.com/WooMinecraft/WooMinecraft/blob/master/WordPress/minecraft_woo/inc/main.class.php#L31)
1

[2015-08-14 03:53] JayWood opened #16 "Re-build WordPress Plugin"
The WordPress plugin REALLY needs some work.  A lot of checks need to be put in place to validate data, request parameters, and a more linear JSON approach needs to be taken.

Just adding this as a note, you'll see a PR soon!

[2015-08-14 04:51] JayWood commented on #15
Check the commits and the wp-dev branch for all WordPress related changes/optimizations.
[this](https://github.com/WooMinecraft/WooMinecraft/commit/7b87bba9c1dcf951734f75257971c12cd2426d6b#diff-9fcab18b4a6c0c50d0af16062a6e3a98R37) may have fixed this issue, please test.

[Branch Commits](https://github.com/WooMinecraft/WooMinecraft/commits/wp-dev)
[wp-dev Branch](https://github.com/WooMinecraft/Wo

[2015-08-14 05:04] phillmac commented on #15
What was happeneing before hand was that $_REQUEST did not ever have a
"names" key, only the  "method" and  "key". Ill test the new commits to see
if the problem is resolved. .. unless the "names" key is being unset
somewhere I don't  think any amount of rewriting the WP side of things is
going to make it appear

~ Phill

[2015-08-14 05:08] phillmac commented on #15
Whar that would cause is the sql where clause to be empty and therefore return an empty result set.

[2015-08-14 05:15] JayWood commented on #15
IF the names key is empty you should've got [false](https://github.com/WooMinecraft/WooMinecraft/blob/wp-dev/WordPress/minecraft_woo/inc/main.class.php#L98) as a string for the status, but with the additions of the [isset check](https://github.com/WooMinecraft/WooMinecraft/blob/wp-dev/WordPress/minecraft_woo/inc/main.class.php#L95) that will no longer be possible, if names isn't set, you'll get no

[2015-08-14 05:21] JayWood opened #17 "Normalize URL parameters"
Should normalize URL key/value pairs for JSON data.

[EXAMPLE](https://github.com/WooMinecraft/WooMinecraft/blob/wp-dev/WordPress/minecraft_woo/inc/main.class.php#L96)

Why use `names` key AND `players` keys, should just use one, not both.

[2015-08-14 05:24] JayWood opened #18 "Normalize JSON data"
Example:
[code]

[2015-08-14 05:25] JayWood opened #19 "Class constructs, action singletons"
Class hooks should reside in their own singleton function, not in the construct.

[2015-08-14 05:26] JayWood opened #20 "Ensure WooCommerce Compatability"
Need to run with WP_DEBUG set to true, and make sure I'm not missing something.

[2015-08-14 05:27] JayWood opened #21 "I18n all the things!"
Example:
[code]

[2015-08-14 05:30] JayWood opened #22 "Grunt, CSS Min, and Jshint"
Should setup grunt with the following:
* grunt-contrib-cssmin
* grunt-contrib-jshint
* grunt-contrib-uglify

As well as provide .min.css/js files accordingly

[2015-08-14 05:35] JayWood opened #23 "WordPress coding standards"
Ensure all WordPress code meets the [WordPress coding standards](https://codex.wordpress.org/WordPress_Coding_Standards)

[2015-08-14 08:15] ApfelUser commented on #21
:+1: Would translate into German :de:

[2015-08-14 21:05] JayWood opened #24 "Need Feedback - Move WordPress plugin to Submodule"
Suggest moving WordPress Plugin to a submodule, this allows dev's to clone the wordpress only portion of the repository directly into their `wp-content/plugins/` directory instead of having symlinks and all that jazz since that's not always possible.

If it's okay with the other @WooMinecraft/owners I'll go ahead and do this.  We could still address tickets and issues here, or there, unless you gu

[2015-08-15 19:30] TekkitCommando commented on #24
Yeah thats fine, Phill helps me with things but i do all the consistent development :P

[2015-08-15 19:31] TekkitCommando commented on #24
I was a little busy for a few days but im back :)

[2015-08-15 19:33] TekkitCommando commented on #21
cool :) and ok thanks for the help @JayWood , I was busy like i said but im back :) and feel free to do enhancements when you feel to the development branch, thats what its for :)

[2015-08-15 19:33] TekkitCommando commented on #23
Ok Thanks!

[2015-08-15 19:34] TekkitCommando commented on #22
:+1:

[2015-08-15 19:34] TekkitCommando commented on #20
:+1:

[2015-08-15 19:36] TekkitCommando commented on #18
Alright, I am getting ready for school once more but will be actively working on this in a few days :) but i am gonna be checking github actively again starting now since im back at a computer :P

[2015-08-15 19:36] TekkitCommando commented on #16
Sweet! :D :+1:

[2015-08-15 19:39] TekkitCommando commented on #15
Thanks for the help, i am back btw c: sorry for disappearing friends :P

[2015-08-15 19:57] TekkitCommando opened #25 "WooMinecraft Translatable"
@ApfelUser Mentioned Translating the plugin to German and I think thats a great idea. We can also do spanish and other languages, so probably Tomorrow or Monday I will make it where WooMinecraft gets its messages from a yml file :)

[2015-08-15 20:13] JayWood commented on #18
I'm not entirely sure how you'd handle the change in java, when I make the change that is, but I know in working with PHP, the JSON will be something like this:
[code]

[code]

[2015-08-15 20:15] JayWood commented on #24
Awesome, wanted to make sure I wasn't stepping on anyone's toes, I'll do this sometime this weekend.

[2015-08-15 20:15] #24 closed

[2015-08-15 20:17] JayWood commented on #21
@TekkitCommando with me moving the WordPress plugin to it's own separate repo, I'll be able to work there, so no worries.  It's just going to make it 200% easier to manage from a WP Dev perspective.

And it's not a problem, I wanted to help, but with the Java portion of it I'm SO ignorant.  With the WP side of things, since it's my day job, I can at least give you a helping hand there :D

[2015-08-15 21:08] TekkitCommando commented on #21
Sweet :smile:

[2015-08-15 21:11] TekkitCommando commented on #18
Ok, I am sure that Phill and I can figure the java out, I knew in maintaining this project there were gonna be some obstacles here and there :)

[2015-08-16 06:27] TekkitCommando commented on #15
Cuz the updates might fix it xD

[2015-08-16 16:13] JayWood commented on #15
@TekkitCommando [This Commit](https://github.com/WooMinecraft/woominecraft-wp/commit/72ff49ea5259b8b9da2e3badb6f1602ba33224e1) may also help, though you'll need to accommodate the new JSON response structure.  I added error codes you can check for, instead of having to worry about what the error was.

Also, can you give me a little insight on how to compile this java, so I can test the WordPress s

[2015-08-16 17:11] TekkitCommando commented on #15
Well I use Intellij and most people use eclipse :P In eclipse you can add the source manually then compile OR.. You can download intellij and use the git cloning feature it will reuse my .iml files and you can compile right away :)

Tell me whether you get Intellij or you want to use eclipse and i will help further :)

[2015-08-16 17:13] TekkitCommando commented on #15
Also I will be working on the new JSON request feature right after I make WooMinecraft translatable which wont take but an hour or 2 :)

[2015-08-16 18:10] JayWood commented on #15
I use eclipse for compiling.  But i'm used to compiling forge with gradle, it's been so long since I've messed with bucket.

[2015-08-16 18:25] JayWood commented on #18
@TekkitCommando This is done on the PHP side of things, feel free to close this when the Java is handled.

[2015-08-16 18:29] JayWood commented on #18
Also when you're ready, the master branch of the wp plugin is stable, you should be able to do this:
[code]

[2015-08-16 20:08] TekkitCommando commented on #15
Might need to make it maven at some point

[2015-08-16 20:15] TekkitCommando commented on #15
I will make a video later of how to do it, it seems easiest instead of typing a bunch of stuff :)

[2015-08-16 20:17] TekkitCommando commented on #18
Ok Thanks :)

[2015-08-16 20:53] JayWood commented on #19
Closing, as WooMinecraft/woominecraft-wp@2c4a032c3b1c7202110a58443713bf3f0838b20b Fixes this issue.

[2015-08-16 20:53] #19 closed

[2015-08-16 20:56] JayWood commented on #17
Closing this as it's not an issue.  Being away from the code for so long had me confused.

Parameters are as follows:
* `names`: Comma delimited string of player names currently online.
* `players`: Comma delimited list of donation command IDs from the database.

The `names` variable should probably be changed to something like `ids` but for now it's fine.

[2015-08-16 20:56] #17 closed

[2015-08-16 20:57] JayWood commented on #16
Closing this, as of WooMinecraft/woominecraft-wp@2c4a032c3b1c7202110a58443713bf3f0838b20b WordPress plugin is stable.

[2015-08-16 20:57] #16 closed

[2015-08-16 20:58] JayWood commented on #15
That's fine, I can fake the data until then.

[2015-08-18 09:00] brainscript commented on #21
:heavy_plus_sign::+1:

[2015-08-20 15:38] TekkitCommando opened #26 "Just an Update"
I am gonna be sending a pull request this weekend and compiling the code into a snapshot jar that all of us can download from the github releases section :)

[2015-08-24 03:27] TekkitCommando opened #27 "New Config and Messages System"
I am making a new Config and Messages System for Woo Minecraft based off my other plugin Promotion Essentials :)

[2015-08-24 12:06] TekkitCommando commented on #14
Went to Possibly Fixed from Semi Fixed because of the new config and messages code.

[2015-08-24 12:34] TekkitCommando opened #28 "New Config is OCD"
I will fix this but as of now it doesn't like key starting out as empty :P

[2015-08-24 21:09] TekkitCommando commented on #28
I guess the best way to do this is to set the key to "changeme" and then have a key check so we can tell them to use /woo register

[2015-08-24 21:17] TekkitCommando commented on #28
New Issues Arose... I fix lol

[2015-08-27 12:48] TekkitCommando opened #29 "WooMinecraft Translated by Language Files"
Instead of a messages.yml file it will us a language file such as english.yml, german.yml, spanish.yml and you can set the language file name in the config :)

[2015-09-04 14:52] TekkitCommando opened #30 "WooMinecraft Official Release Info"
Hi Everyone! The Woo Minecraft Team has been trying to juggle Life, Woo Minecraft, Work, and Possibly school, which can be a pain at some points but I am pleased to tell you that I am almost ready to upload the new and finished Config and Message system code, which was one of the final things we needed before releasing an official alpha version of Woo Minecraft for the public to download and have

[2015-09-06 08:02] JayWood commented on #30
The WordPress sub-module has not been updated to the latest stable WordPress release, we should make it a point to do that and compensate for the new JSON result set in the Java code if possible.

Also, this is the first time I've seen GitHub issues used as a sort of `bulletin` system.  I believe we should consider making a changelog file instead if you want users to keep up to date with recent ch

[2015-09-06 11:59] TekkitCommando commented on #30
ok i planned to update this as we added stuff but yeah i like your idea :)

[2015-09-06 16:37] JayWood commented on #30
@TekkitCommando you can always link your website as well, and provide updates there :D

[2015-09-09 17:29] TekkitCommando commented on #30
True ok

[2015-09-23 16:23] HappyHarm commented on #29
Is there already a format for this? Then I will start adding a dutch language file :P

[2015-09-25 19:15] TekkitCommando commented on #29
not yet, i will add one to the wiki :)

[2015-09-27 20:59] #30 closed

[2015-09-27 21:02] TekkitCommando opened #31 "I am back"
Sorry I am creating a Software/Game Development LLC and so have been busy I am gonna start working on this again in the next few days

[2015-10-14 01:00] TekkitCommando commented on #31
My computer is taking longer to be fixed then i thought, I am sorry :/

[2015-10-14 19:21] HappyHarm commented on #31
:s is there already a multiserver/bungee version btw?

[2015-10-14 19:27] TekkitCommando commented on #31
No bungee plugin but we can add that to the list :)

[2015-10-22 02:15] TekkitCommando commented on #31
Just got my computer :)

[2015-10-24 01:45] TekkitCommando commented on #31
Ok I am getting the JDK and my IDE installed and then getting back to work on ol' Woo Minecraft

[2015-10-24 01:45] #31 closed

[2015-10-30 02:03] TekkitCommando opened #32 "New Update Coming Soon!"
Sorry I have been gone because of computer problems and other life things but most of my computer issues are fixed and so I just wanted to let you guys know that there will be another update in the coming weeks as I get back into my programming routine :D Sorry I cant post these updates on my site rn :/

[2015-10-31 15:50] HappyHarm commented on #32
Welcome back then :smile:

[2015-10-31 16:12] TekkitCommando commented on #32
Thanks :D

[2015-11-04 22:12] JayWood commented on #18
@TekkitCommando I realize you're pretty busy lately, as am I, but when can run the above update to get the WP plugin up to date in this repo?

We should at minimum consider getting the WP up to date before translation is ready due to the JSON changes, you guys will have to change how you're reading it.

[2015-11-04 22:43] TekkitCommando commented on #18
Let me talk with my friend Phill :)

[2015-11-13 18:22] TekkitCommando commented on #18
@JayWood I have been really busy with making a tech company lately and I will get back to working on this ASAP but for now development on my side will be a little off till mid December sadly :/

[2015-11-28 10:46] HappyHarm commented on #32
Is there still someone working on this?

[2015-11-28 16:15] TekkitCommando commented on #32
I got very busy with school and life in general and so is Phillmac and the creator as well. I am still working on it every once in a while but I will need till after Christmas before I get back into full development @HappyHarn

[2015-11-28 16:15] TekkitCommando commented on #32
@HappyHarm *

[2015-11-29 06:29] JayWood commented on #32
@HappyHarm if I can be of any help by all means just post a message.

[2015-12-03 04:23] TekkitCommando commented on #32
Assuming all goes well, I can work on Woo Minecraft in a couple weeks when Christmas vacation has started and I'm off school. Maybe sooner then that :)

[2015-12-03 04:27] TekkitCommando commented on #32
@JayWood sorry for leaving the project inactive for this long, I made it my responsibility to revive and maintain this system and i let you down and @HappyHarm I am sorry for letting you and the rest of the people waiting for this down. My life has gotten very busy but I am gonna try to spend more time with Woo Minecraft, it's like my baby now xD

[2015-12-03 06:46] HappyHarm commented on #32
Np, I'm just following this project sometimes :P

[2015-12-03 21:04] JayWood commented on #32
@TekkitCommando It's cool m8 - I actually picked up some java skills since last time we met. I've also successfully setup the project w/ Maven and I'm making some changes of my own - though so VERY slowly.

Additionally, I found quite an easy way to implement the translations system you spoke about in Issue #29 Taking an idea from the WordPress i18n and l10n book of course!

I'll be doing this wor

[2015-12-03 21:05] JayWood commented on #26
Closing this, it's now December.

[2015-12-03 21:05] #26 closed

[2015-12-03 21:06] JayWood commented on #29
Duplicate of #25 closing that one merging here.

[2015-12-03 21:06] JayWood commented on #25
See Issue #29 for tracking this progress.

[2015-12-03 21:06] #25 closed

[2015-12-03 21:08] JayWood commented on #22
Closing, tracking all WordPress related issues on the [woominecraft-wp repository](https://github.com/WooMinecraft/woominecraft-wp)

[2015-12-03 21:08] #22 closed

[2015-12-03 21:08] JayWood commented on #21
Closing, tracking all WordPress related issues on the [woominecraft-wp repository](https://github.com/WooMinecraft/woominecraft-wp)

[2015-12-03 21:08] #21 closed

[2015-12-03 21:09] JayWood commented on #23
Closing, tracking all WordPress related issues on the [woominecraft-wp repository](https://github.com/WooMinecraft/woominecraft-wp)

[2015-12-03 21:09] #23 closed

[2015-12-03 21:09] JayWood commented on #20
Closing, tracking all WordPress related issues on the [woominecraft-wp repository](https://github.com/WooMinecraft/woominecraft-wp)

[2015-12-03 21:09] #20 closed

[2015-12-03 21:10] JayWood commented on #18
This is still an open issue, but MAY be resolve once I finish some code changes on the Java side of things.

[2015-12-03 23:11] TekkitCommando commented on #18
@JayWood Sweet, I am also gonna be able to come back to this very soon, I have a config system to redo and some other things to add

[2015-12-03 23:13] TekkitCommando commented on #32
@JayWood Alright cool, I will have my code still beign pushed to the development branch, I took off some things and so should be able to start on this again a lot quicker and start rolling out updates. Interested in seeing your changes :)

[2015-12-04 00:43] #32 closed

[2015-12-04 00:45] #14 closed

[2015-12-04 00:46] TekkitCommando commented on #28
@JayWood I fixed some of the code I made a stupid mistake on that may have caused the config reset bug, I am not sure yet though, I will be testing it soon :)

[2015-12-04 00:59] TekkitCommando opened #34 "Donations Signs & GUI's"
@JayWood

This is more for the future considering we still haven't gotten web purchases to communicate with the Minecraft server 100% correctly yet but I was wondering if you had an idea how we will get the packages from the web server and list them via GUI and Sign?

[2015-12-04 02:46] JayWood commented on #34
Not sure what you mean by packages? The WordPress plugin allows you to specify multiple commands for either a single product, product variation, or both.  The former being ran first.

So in theory, a package is just a single item with multiple commands.  You can theoretically add an unlimited amount of commands to a single item, and are only limited by what Bukkit/Spigot can parse - maximum memory

[2015-12-04 02:48] JayWood commented on #28
@TekkitCommando We need a nightly build branch, every time you make a change, I'd like it if you could push it there, so we're all 100% up to date.

I don't mean literally every letter you type of course, mainly when you sign off ( stop working on the plugin ) even if it's broken, it'd be great to push it up to a sort of 'unstable' branch.

[2015-12-04 02:52] TekkitCommando commented on #28
Ok I will make a new branch called dev-nightly

[2015-12-04 02:54] TekkitCommando commented on #34
It would probly be best to have it generate a link to the product picked off the sign or gui. I have never seen a plugin actually able to take purchases ingame

[2015-12-04 02:54] TekkitCommando commented on #34
Not package, a product xD

[2015-12-04 03:06] TekkitCommando commented on #28
Made it

[2015-12-04 03:10] TekkitCommando opened #35 "Dev-Nightly Branch"
This branch will be for all code you have in your local branches at the end of the day whether its finished or not.

It will work like a hierarchy:
1st -> You send it to the dev-nightly branch.

2nd - > When its finished you push it to development.

3rd -> When all is tested and stable it will eventually make its way to master.

This also allows potential contributors to see what we are working on

[2015-12-05 05:02] JayWood opened #36 "getPlayer() Deprecated"
getPlayer() is deprecated, but is used in the development code ( haven't looked at master ).  Will need to update to getUUID() instead.

In-turn, this means that the WordPress side of things.  Will need to add the Minecraft UUID to the WordPress data as well as a time-stamp.  Refer to [Mojang's API](http://wiki.vg/Mojang_API)

[2015-12-05 05:19] TekkitCommando commented on #36
@JayWood It will still work, its just not recommended so not too many worries but still should be changed :)

[2015-12-05 05:25] JayWood commented on #36
@TekkitCommando I'm aware it will `work` but in keeping with standards, any/all deprecated code should be updated if we have the ability :smile:

[2015-12-05 05:26] TekkitCommando commented on #36
@JayWood I agree :P

[2015-12-06 05:27] TekkitCommando opened #37 "Question: Why use Java 7 instead of 8"
Why use Java 7 instead of 8? Java 8 has everything Java 7 has? any particular reason? :)

[2015-12-06 06:24] TekkitCommando commented on #36
@JayWood Wouldn't inefficiency better fit this issue? :P

[2015-12-06 06:24] #35 closed

[2015-12-06 08:14] HappyHarm commented on #37
Lot of servers are still on java 7

[2015-12-06 15:21] TekkitCommando commented on #37
yes but I was wondering if there was a specific reason functionality wise

[2015-12-06 15:21] TekkitCommando commented on #37
XD

[2015-12-06 19:20] JayWood commented on #37
If I'm not mistaken, it's based on compilation.  ie. if you compile a jar against java8, regardless if it has everything java7 does, it will require the user to have java8 installed.

If we don't absolutely need functionality from Java8, why compile with it?

[2015-12-06 19:22] JayWood commented on #36
Feel free to re-tag it, i've not looked through all of the tags you created for this project, I just grabbed the first two :smile:

[2015-12-06 19:56] TekkitCommando commented on #37
Java 8 helped server wise but yeah its more important that players can run it

[2015-12-06 19:57] TekkitCommando commented on #36
@JayWood lol nice

[2015-12-06 20:00] HappyHarm commented on #37
Saw you also got a repos for sponge, sponge itself is going to use java 8 so maybe you can switch to java 8 when people are going to use sponge.

[2015-12-06 21:24] TekkitCommando commented on #37
@HappyHarm  Bukkit version can stay java 7  but yeah Sponge Version will require Java 8, that's gonna be a while tho :P

[2015-12-07 00:46] JayWood commented on #37
Re-opening for discussion - I have no problem using Java8, right now that's what I have on my server, as well as my computer, and I agree, it does help with server performance.

I'm in the process of compiling the maven version of the project ( with some changes/todos/etc... ) and I have plugin issues on 1.7, hoping 1.8 can fix it, but idk yet.  If it compiles and runs on 8 I may just stick with t

[2015-12-07 02:04] TekkitCommando commented on #37
:+1:

[2015-12-07 02:53] JayWood commented on #37
@TekkitCommando If i'm not mistaken, wasn't Java 8 a major security release?

[2015-12-07 02:55] JayWood opened #38 "Purpose of WooMinecraft.iml?"
So, I've officially switched off of Eclipse and to IntelliJ IDEA.  I already use PHPStorm from JetBrains and I'm already familiar with 99% of the UI/Keyboard shortcuts so I figured why not!?

So, that begs the question, what's up with the WooMinecraft.iml file?  What's its purpose? Should it be committed to the repo?

[2015-12-07 03:04] TekkitCommando commented on #38
@JayWood It is like the .project of eclipse, makes it grap dependencies from a specific directory, tells intellij what JDK to use, etc.

[2015-12-07 03:04] TekkitCommando commented on #37
@JayWood Yeah they also removed Perm gen space from servers

[2015-12-07 03:05] JayWood commented on #38
If we're using maven, is that even needed?

[2015-12-07 03:05] TekkitCommando commented on #37
So makes it where you can run more intensely without having to specify how much perm gen memory

[2015-12-07 03:05] TekkitCommando commented on #38
@JayWood No :)

[2015-12-07 03:06] JayWood commented on #38
So it would be safe to add it to the .gitignore then :dancers:

[2015-12-07 03:06] TekkitCommando commented on #38
Yep :D

[2015-12-07 03:06] JayWood commented on #38
Noted, will do, as well as I guess the .classpath and .project?

[2015-12-07 03:08] TekkitCommando commented on #38
Yeah, its actually recommended not to add the .project and .classpath :P They aren't necessary to have a functioning project :P a .iml file was handy for me since there was no maven or gradle :)

[2015-12-07 03:09] JayWood commented on #38
Ahh, well I'm all about maven now that I know how to use it.  It reminds me of other systems we use at work daily ( like bower ).

[2015-12-07 03:10] TekkitCommando commented on #38
@JayWood If you don't mind me asking where did you learn php :P

[2015-12-07 03:12] JayWood commented on #38
Self taught actually, full back-story here: http://www.plugish.com/about/ I started by reading a book "PHP For Dummies" and just starting making crappy code, which evolved into where I am now.

Been using it for a little over 7 years I think? Maybe 6? I lost track!

[2015-12-07 03:15] TekkitCommando commented on #38
xD Sweet I am self taught in Java and Learning JS and all those frameworks like Node, JQuery, Angular, Agile, etc. for it. Then I think I will work on PHP :)

[2015-12-07 03:17] JayWood commented on #38
Yea definitely start with those before PHP ( I still don't know node or angular ), I use jQuery almost daily.  As a company we've talked about standardizing our Javascript and using a framework instead of jQuery, something like React.

I'm of course self-taught in java, as evident by my screwey code when you forked the project.  I've since evolved :smile: and hope to be doing more java code on the

[2015-12-07 03:24] JayWood commented on #38
Okay well gonna close this, I've updated the maven branch to remove unnecessary files so we should be good going forward.

[2015-12-07 03:24] #38 closed

[2015-12-07 03:26] JayWood commented on #37
I personally think we should stick with 1.8 with the security release ( and perm gen fix of course ). We should, however put a disclaimer in the plugin that it requires Java8.  Not just the Readme, but the plugin description as well, this will make sure all users know which java version they're supposed to use.

[2015-12-07 03:37] TekkitCommando commented on #37
Agreed

[2015-12-07 03:37] JayWood commented on #37
K, I've set the maven source/target to 1.8, closing.

[2015-12-07 03:37] #37 closed

[2015-12-07 04:11] JayWood opened #39 "Better Logging"
Currently there are a lot of `log.severe()` calls which causes the server to shut down.  I'm working on changing these over to info/warning so the plugin doesn't abruptly shutdown the server unless ABSOLUTELY necessary.

[2015-12-07 04:12] JayWood commented on #28
Closing, working on config changes.

[2015-12-07 04:12] #28 closed

[2015-12-07 04:13] JayWood opened #40 "Non-nested Config"
The config, as stated in another task, is OCD.  IT does not warrant being nested like it is for the few amount of config values we have.

[2015-12-07 04:43] JayWood commented on #27
Related #40

[2015-12-07 04:47] JayWood opened #41 "Default Configs not being written to files!"

[2015-12-07 04:57] JayWood opened #42 "Clean up WooConfig.java"
Could also rename this to just Config.java instead, no need to prefix with Woo since it's already in our Woo package.

[2015-12-07 04:57] JayWood commented on #42
![9387990a093c1016206163c2d5d5c858](https://cloud.githubusercontent.com/assets/2303074/11619362/1d8260e8-9c75-11e5-87bb-9aec5f629175.png)

[2015-12-07 06:09] JayWood opened #43 "i18n Updates - folder structure, and more stuff"
Currently we're writing the lang and config files manually.  I've since moved the default config.yml to resources so we can use `saveDefaultConfig()` instead of writing it ourselves, and `getConfig()` respectively.

We can use these directly within the main class since our main class already extends JavaPlugin, which is where these methods reside.  So I had an idea, looking at saveDefaultConfig()

[2015-12-07 06:10] JayWood commented on #43
I should add that we only need to make a 'saveDefaultLang' method if we use this library!

[2015-12-07 06:23] JayWood commented on #34
Did a little digging here.  From what I can tell the click dialog itself "open this link" is client side, not server-side, and therefore cannot be interacted with.

However, we can definitely send them a link to the product in chat.  I envision a scenario like this:
* Admin places a sign
* Sign text reads [woo #]
* # Should match item ID from the WooCommerce side of things ( WordPress Dashboard )

[2015-12-07 06:32] JayWood opened #44 "Remove Download Status file"
Having a download status file is unnecessary. In the world of version
control it's understood that the master branch is available for download,
and therefore this branch should ALWAYS be stable.

[2015-12-07 06:40] JayWood opened #45 "maven merged into development & nightly"
I've merged all my changes from the maven branch into Dev and Nightly branches.  The plugin builds fine on Java 8 and runs fine as well.  There are more things to work on but it's 1:30 here and despite my enthusiasm I must sleep.

[2015-12-07 06:48] JayWood commented on #45
I should add ( before I crash ) that there are things purposefully broken, one being the loading/saving of language files, and the other being the task runner, it just broadcasts a message instead of running check()

[2015-12-07 16:36] TekkitCommando commented on #36
I think today after school I can work on changing to UUID :+1:

[2015-12-07 16:41] TekkitCommando commented on #36
After I add the UUID change I can compile a jar and add another pre alpha release :)

[2015-12-07 18:30] JayWood opened #46 "Resources & External Links"
As best practice states, it's inadvisable to use external sites like Gyazo or Imgur to host images for the project.  The question is raised of "what if the site disappears".  To alleviate this, see these two commits:

a563067d857b1fec10e9c123adc8e0d0dedfe233
a563067d857b1fec10e9c123adc8e0d0dedfe233 ( Fixed my oops :smile:  )

[2015-12-07 18:34] JayWood commented on #46
Of course by using the resources folder this means that the .png gets packages with the plugin, but it's just one little png, so no worries there.  We could undoubtedly move it elsewhere, but I figured /resources/ was a good place to store a logo.

[2015-12-07 18:45] JayWood commented on #36
Sweet, I'm making changes on the WordPress side to store the UUID and timestamp of the purchase, alongside the username.  I'll update the code accordingly.

[2015-12-08 03:30] TekkitCommando commented on #36
My IDE was acting up today but tomorrow I will start making changes in the dev-nightly branch

[2015-12-08 03:32] TekkitCommando opened #47 "Suggestion: Update WooMinecraft page on personal site"
@JayWood I suggest updating the WooMinecraft page on your personal page to say it supports CraftBukkit/Spigot 1.8.x and so on :P

[2015-12-09 01:19] JayWood commented on #47
Noted - really lazy to login to my site, but I'll definitely get on that... eventually :smile:

[2015-12-09 01:19] #45 closed

[2015-12-09 01:20] JayWood commented on #44
@TekkitCommando close this after you've seen it.

[2015-12-09 01:20] JayWood commented on #46
@TekkitCommando close this after you've seen it

[2015-12-09 03:11] #46 closed

[2015-12-09 03:11] TekkitCommando commented on #46
:+1:

[2015-12-09 03:12] TekkitCommando commented on #44
:+1:

[2015-12-09 03:12] #44 closed

[2015-12-09 03:12] TekkitCommando commented on #45
:+1:

[2015-12-09 03:13] TekkitCommando commented on #47
Lol cool xD

[2015-12-09 03:13] #47 closed

[2015-12-09 03:45] JayWood opened #48 "Update WooMinecraft.remove()"
Needs to be updated to use the new Connection class.  Also the Connection class will need to be updated to accept a 3rd parameter ( method ) so we can switch between checks, and updates.

[2015-12-09 17:02] HappyHarm opened #49 "Some questions for wiki"
Hi there,

Thought because I can't really code, I could help with updating the wiki a bit. Only got 2 questions about it.

1. Could I delete the old homepage from the wiki? ("WooMinecraft Wiki")
2. Where are the downloads for the wordpress side of WooMinecraft now? Only saw at the latest release(s) a download for the jar and it's sourcecode. Is there now a new repos or something for the wordpress

[2015-12-09 18:41] TekkitCommando commented on #49
1. Yes

2. Yes its at this link https://github.com/WooMinecraft/woominecraft-wp
just download the repo as a zip :)

[2015-12-09 19:09] HappyHarm commented on #49
Ah maybe remove the wordpress folder in this repos then. It's a bit confusing.

[2015-12-09 19:11] TekkitCommando commented on #49
that's only in master I think, when we have everything stable we will update master :)

[2015-12-09 19:12] TekkitCommando commented on #49
@HappyHarm I have invited you to a documenters team on the organization just go to http://www.github.com/WooMinecraft and click view invitation

[2015-12-09 19:14] HappyHarm commented on #49
Thanks, joined it :)

[2015-12-09 19:16] TekkitCommando commented on #49
:+1:

[2015-12-09 19:20] TekkitCommando commented on #49
@HappyHarm Close this when you are done with the jist of the wiki

[2015-12-09 19:21] HappyHarm commented on #49
jist? Don't know that word :)

[2015-12-09 19:21] HappyHarm commented on #49
Nvm searched it

[2015-12-09 19:30] TekkitCommando commented on #49
xD

[2015-12-09 19:52] HappyHarm commented on #49
Added the woocommerce plugin installation tutorial, I even used pictures :P Will explain tomorrow how you can add items etc.

[2015-12-09 20:17] TekkitCommando commented on #49
@HappyHarm Thanks :)

[2015-12-09 22:09] JayWood opened #51 "When to Grab UUIDs"

[2015-12-09 22:21] JayWood commented on #51
This task is to open discussion surrounding the question above, exactly when would be the best time to get the UUIDs?

My first initial thought was to do this in PHP on the checkout form, the entire process would look like so:

* When the player enters their name, an extra field is populated which also puts in their current UUID.
* The Playername, and UUID would then be saved to the database
* In

[2015-12-09 23:14] TekkitCommando commented on #51
@JayWood Correct on the api, technically we could store the uuid ONLY and just have a uuid to player name function or separate class which would translate that uuid to the latest username from mojangs database and send the commands accordingly with the latest username. I guess if you want to stay along the lines of whats recommended and less deprecated just translating the uuid to a latest usernam

[2015-12-09 23:40] JayWood commented on #51
@TekkitCommando Since the `getPlayer( UUID uuid )` function  returns an instance of `Player` and we know that UUID is always unique to the player, we really don't even need a UUID to player name function I wouldn't think.

We're not really storing anything in the server for users to read. Furthermore, if the user is currently signed onto the server we could just get his player name by `Player.getD

[2015-12-10 00:01] TekkitCommando commented on #51
@JayWood Oh yes, forgot about that, sorry xD, My meaning on the UUID lookup for the player on server login was for name changes, since they bought the product whatever that may be they may have changed there name, they don't have their stuff anymore so storing both their player name and uuid is good so the code can tell if the player with that uuid has a different name then the one stored on the d

[2015-12-10 00:34] JayWood commented on #51
If they don't have their stuff, and we're using only the UUID, then that never changes, we could just re-issue the commands based on UUID no? The player name would be nothing more than a tidbit of information to the server owner saying "A is now B" - not really for the purpose of re-delivering commands?

[2015-12-10 00:47] TekkitCommando commented on #51
But the UUID doesn't change so don't you need to store a username to see if the changed the name since they bought the stuff

[2015-12-10 01:02] JayWood commented on #51
That's what I'm saying, so what's the purpose of talking to Mojang at any other point than purchase ( to get the UUID )

[2015-12-10 01:04] TekkitCommando commented on #51
I meant talking to the store database not mojangs database sorry :P

[2015-12-10 01:20] JayWood commented on #51
AHHHH Now I understand. The problem we're going to run into, and I know cuz I've hit it before, is hitting the web server's post_max_size limit.  Which limits the amount of data we can send to a server. This isn't ONLY with UUIDs, it's also possible to happen with usernames ( a server with 200 users ( active ) may not process on a default server setup ).

What do you think about this, instead of t

[2015-12-10 01:43] TekkitCommando commented on #51
Ah ok, sounds doable and it could work awesomely :) I like it.

[2015-12-10 06:33] HappyHarm commented on #51
Does php also grabs non premium players their uuids?

[2015-12-10 12:34] HappyHarm commented on #49
Btw shall I move some of the md files like contributor guidelines etc to the wiki? That cleans up the repos a bit.

[2015-12-10 12:39] TekkitCommando commented on #51
I am not even sure non premium players have uuids cuz non premium players don't have Mojang accounts I think but maybe they do and if so maybe they have UUID's I have never heard of it though

[2015-12-10 12:41] TekkitCommando commented on #49
Nah we need them in the repos cuz at some points github will auto suggest that you read them when doing specific things :)

[2015-12-10 14:05] JayWood commented on #51
@HappyHarm by non-premium are you talking 'unpaid' accounts? If that's the case, I'd prefer NOT to support offline-mode servers.

[2015-12-10 16:24] HappyHarm commented on #51
@JayWood Yeah ment that with it. I'm not sure but I thought that offline mode servers have ''their own'' UUID system that's stored in the server files. So I think that for offline mode servers the UUID fetcher should be on the server side (I could be wrong).

But maybe there could be an option for offline/online mode servers or the UUID has to be grabbed?

[2015-12-10 17:04] HappyHarm commented on #49
Ok, I have added a package tutorial as well and updated the download links. I think there is nothing more to do in the wiki for now. When there are new features I'll update the wiki :)

[2015-12-10 17:05] #49 closed

[2015-12-11 23:50] TekkitCommando opened #54 "Just letting you know"
@JayWood Today's my birthday, I turned 18 :) and so I am hanging out with my family this weekend and won't be able to work on WooMinecraft till Sunday :+1:

[2015-12-12 00:09] JayWood commented on #54
@TekkitCommando Thanks for the info, but don't EVER think this plugin is an obligation, nor is it a job! Live your life dude!!!

[2015-12-12 00:09] #54 closed

[2015-12-12 00:54] TekkitCommando commented on #54
Np :) and ok :P

[2015-12-12 08:30] HappyHarm commented on #54
Congratulations with your birthday :)

[2015-12-13 01:08] JayWood commented on #43
Sweet, i18n LIVES!!!!
![878054b6760145c698c73662b36377c9](https://cloud.githubusercontent.com/assets/2303074/11764798/2ce6fa44-a10c-11e5-8271-4123ab1adc72.png)

[2015-12-13 01:10] JayWood commented on #43
Thanks for the translations @TekkitCommando & @HappyHarm

[2015-12-13 01:11] #27 closed

[2015-12-13 01:11] JayWood commented on #29
Fixed as of above commit, closing.

[2015-12-13 01:11] #29 closed

[2015-12-13 22:32] TekkitCommando commented on #43
@JayWood that's what I'm here for to maintain and make WooMinecraft better xD

[2015-12-13 22:33] TekkitCommando commented on #54
@HappyHarm thanks

[2015-12-15 21:33] TekkitCommando opened #56 "Plugin Organization Question"
@JayWood Was there a specific reason why the commands folder was removed and all the classes are in the main directory, in my experience plugins were always organized, command classes in commands folder, update checker and stuff in a util folder or something and metrics in a metrics folder if applicable. Just wondering, if there was no reason I was gonna spend time organizing the classes a bit

[2015-12-16 01:20] JayWood commented on #56
honestly zero reason, i think it was in an attempt to debug something, but I never put it back.  Feel free to organize away.

[2015-12-16 03:14] JayWood commented on #56
@TekkitCommando on a side-note, if there are any official documentation on Minecraft Plugin Design Patterns I'd love to have a read, I'm all about standards, but my newbie appeal usually steers me into the 'get it working' design pattern.

[2015-12-16 03:58] TekkitCommando commented on #56
@JayWood I used to be major into bukkit/CraftBukkit development I will see if I can find the old document I used to follow when I first started working on PromitionEssentials.

[2015-12-16 03:59] #56 closed

[2015-12-17 19:34] JayWood opened #57 "Auto-scheduler broken"
This is totally my fault, but I wasn't anticipating a release, so I hadn't fixed it yet.

https://github.com/WooMinecraft/WooMinecraft/blob/0.1f-pre-3/src/main/java/com/plugish/woominecraft/Util/BukkitRunner.java#L17

Need to un-comment the code for the task runner to actually run.

[2016-01-18 02:33] TekkitCommando opened #58 "Status Report"
@JayWood Went back to school, got pretty busy again :P I am taking a new Java Course starting Wednesday, after I am out of that course I should have time again and I will be back to working on this.

[2016-01-18 19:34] JayWood commented on #58
Thanks for the update @TekkitCommando

[2016-01-18 19:34] #58 closed

[2016-01-18 19:53] TekkitCommando commented on #58
Np

[2016-01-18 20:00] mmuziek opened #59 "broken plugin"
hi there. i downloaded all versions and tested them all out.
the wordpress part seems to be working but the plugin is not
it spamms a protocol error and from what i read its that it does not read the config.
it also sais that the key is already generated even when there is an empty config file in the folder.
if i put everything in manually it spams with NULL?woo-minecraft.....?key=NULL
so it doesn

[2016-01-18 20:16] TekkitCommando commented on #59
atm our changes to the config system aren't compiled, and the check for donations to the WordPress side was disabled by @JayWood I forgot for what reason though.

[2016-01-18 20:17] mmuziek commented on #59
can you give me an eta for when its working?

[2016-01-18 20:18] TekkitCommando commented on #59
We plan to have the system working asap though. I have java courses again but after I am done I am coming back to this to fix EVERYTHING xD

[2016-01-18 20:19] TekkitCommando commented on #59
@mmuziek I cant give a specific date but soon.

[2016-01-18 20:19] HappyHarm commented on #59
Thought there were already stable releases available weren't they?

[2016-01-18 20:20] mmuziek commented on #59
yes there are but they are not working

[2016-01-18 20:22] TekkitCommando commented on #59
I think at one point I thought I fixed it but there was a database problems, we started rewriting things to make them work better and we have a few things to do. The config problem is fixed in the latest source code push on dev-nightly branch but donation checks were disabled by @JayWood and like I said I forgot why. When he sees this he will probably say why.

[2016-01-18 20:22] HappyHarm commented on #59
I thought the key was nothing more then some random generated characters that had to match for the wordpress side and the server side. So you could try to just put in some random characters.

[2016-01-18 20:24] TekkitCommando commented on #59
@HappyHarm yes, and we fixed it in the latest code but the last compiled version that @mmuziek has, I tried something with the Config system and it always reset the key and the code saw it as null. However it is fixed and I could recompile a new pre version of WooMinecraft but donation checks were still disabled by @JayWood and we have to wait for him to remind me why :P

[2016-01-18 20:27] mmuziek commented on #59
can we manually do a check or is that also disabled in that compile?

[2016-01-18 20:28] HappyHarm commented on #59
@TekkitCommando The donations request were handled by the server side wasn't it? For now @mmuziek can use the latest compiled release and just fill in his own key. The wordpress checks weren't removed at that release were they?

@mmuziek try to fill in a random 32 characters key in the config.yml and let it match with the key you fill in in the wordpress thing.

[2016-01-18 20:28] TekkitCommando commented on #59
@HappyHarm but I will be getting back to this after I refresh my java knowledge with the courses I am taking. and @mmuziek manual checks and auto checks both pointed to the same function (coding method), one was just auto and the command was manual.

[2016-01-18 20:29] mmuziek commented on #59
@HappyHarm i tried that but it generated huge errors when it checks for the packages

[2016-01-18 20:30] TekkitCommando commented on #59
@HappyHarm It was saved by the server, yes, but the plugin still has to make a check to give the rewards for the donation. and his version was the one with the null error and config resets.

[2016-01-18 20:30] HappyHarm commented on #59
@TekkitCommando Ah, but the stable release should work?

[2016-01-18 20:30] mmuziek commented on #59
@tekkitcommando cant you enable the manual check and compile it for us?

[2016-01-18 20:30] TekkitCommando commented on #59
@HappyHarm It shouldn't take long for Jay's email to get spammed and he checks this issue and reminds me why checks were disabled xD

[2016-01-18 20:31] TekkitCommando commented on #59
@mmuziek @JayWood disabled it so I figure it doesn't work or he was right in the middle of something and so there would probly be errors.

[2016-01-18 20:32] TekkitCommando commented on #59
@mmuziek If @JayWood doesn't write back to this issue soon I will look at the donation check method and compile and see if it works.

[2016-01-18 20:35] TekkitCommando commented on #59
@mmuziek Thank you for taking an interest in this project! We will try to fix your problem as quickly as possible :)

[2016-01-18 20:40] TekkitCommando commented on #59
Or maybe I'm crazy... Idk anyways I am sure JayWood will comment back soon

[2016-01-19 05:48] JayWood commented on #59
There's no reason for the check to be disabled in the java side on dev-nightly, that is if you're referring to issue #57 @TekkitCommando

Feel free to un-comment and recompile, or fix whatever you see necessary to get that working.  On the flip side @mmuziek I'm aiming to have a full stable release, both Java, and WordPress by next Monday.

[2016-01-19 05:51] JayWood commented on #59
@TekkitCommando nvm :) it was just a click away.

[2016-01-19 05:55] JayWood commented on #59
@mmuziek You'll need to compile from the dev-nightly branch, not master for the plugin to work with the Key issue.  I'm pretty sure @TekkitCommando and I have already handled that, but it's been a month since I touched the code ( roughly ) - so don't hold me to that.

Either way, by Jan. 25th there will be a complete stable release of both WordPress and Java plugins.

[2016-01-19 05:57] JayWood commented on #51
Closing, merging with #36

[2016-01-19 05:57] #51 closed

[2016-01-19 11:53] mmuziek commented on #36
em may i say something.
if you do this be noticed that it doesnt work on bungeecord anymore if its not toggleable

[2016-01-19 12:15] mmuziek commented on #59
@jaywood i have no knowlage of compiling can you teach me how or make a small compile of the dev build?

[2016-01-19 12:15] HappyHarm commented on #36
@mmuziek what do you mean with not toggleable? What should be toggleable?

[2016-01-19 12:16] TekkitCommando commented on #59
@JayWood Awesome! Like I said I will be done with my programming courses soon and will be helping with this once more.

[2016-01-19 12:17] HappyHarm commented on #59
@mmuziek gimme a moment will compile it for you.

[2016-01-19 12:17] TekkitCommando commented on #59
@mmuziek I can compile the dev-nightly branch after school today :)

[2016-01-19 12:18] TekkitCommando commented on #59
@HappyHarm beat me xD

[2016-01-19 12:19] HappyHarm commented on #59
@mmuziek http://www.filedropper.com/woominecraft-104-snapshot

[2016-01-19 12:20] mmuziek commented on #36
well the use of uuid
because if i make use from a bungeecord instance it gets FAKE uuids not the real ones
if this plugin catches uuid and uses them then people wont get their stuff...

[2016-01-19 12:22] mmuziek commented on #59
thanks i will check it out right away!

[2016-01-19 12:24] HappyHarm commented on #36
Ah you mean like if we're getting the premium UUID's with the plugin, they will be totally different from the UUID's that the bungee generates.

Only I thought that if bungee is online mode it will not generate fake UUID's. But it's the authors (@JayWood) choice to allow cracked servers as well.

[2016-01-19 12:30] TekkitCommando commented on #36
Honestly @JayWood and I will probably not support unpaid accounts and cracked servers. I can't speak for JayWood but I'm sure an issue popped up somewhere (I think the uuid system issue) where he said he didn't plan to.

[2016-01-19 12:33] HappyHarm commented on #59
Seeing a small (where I think it is an issue) now. When the config for the first time generates there is no key. When you use /woo register you key a key but the config only stores the key and the rest of the config is wiped http://prntscr.com/9s20s2.

[2016-01-19 12:36] mmuziek commented on #59
same issue but i fixed it manually by first editing the config and pasting in the last key it generated

also it seems to not work
[13:34:11] [Server thread/ERROR]: [WooMinecraft] Connection refused
[13:34:11] [Server thread/WARN]: [WooMinecraft] Cannot open Data Output Stream!
whats this error?

[2016-01-19 12:37] TekkitCommando commented on #59
I have always compiled in Java 8 but I doubt that matters. Hmm that issue has never happened before but I will run some checks when I get home. @HappyHarm feel free to submit an issue on it.

[2016-01-19 12:38] HappyHarm commented on #59
@TekkitCommando @mmuziek sees to have the same issue :P Will open a issue in some minutes.

@mmuziek Did you set the same key in the wordpress thing as well as in the server thing?

[2016-01-19 12:39] TekkitCommando commented on #59
@mmuziek the connection to the website set in the config was refused.

[2016-01-19 12:39] mmuziek commented on #59
ok how do i fix that my website uses https:// for instance?

[2016-01-19 12:39] HappyHarm opened #60 "[Dev-Nightly] Rest of config is swiping after /woo register"
When you use /woo register to key the key for the first time it saves the key to the config but swipes the rest of the config http://prntscr.com/9s20s2

[2016-01-19 12:40] mmuziek commented on #59
lang: en
update_interval: 1500
url: https://bitcubes.eu
key: -- < key hidden

[2016-01-19 12:40] HappyHarm commented on #59
@mmuziek try to use http? Maybe that will fix it

[2016-01-19 12:43] TekkitCommando commented on #59
Also make sure your key is already in the WooMinecraft key thing on your WP Admin Panel just in case.

[2016-01-19 12:43] TekkitCommando commented on #60
I looked at the code and I know exactly what's do it.

[2016-01-19 12:43] mmuziek commented on #59
ok now i get [13:43:18] [Server thread/ERROR]: [WooMinecraft] A JSONObject text must begin with '{' at 1 [character 2 line 1]

[2016-01-19 12:44] TekkitCommando commented on #60
I will try to get on a PC in 15 if I can and fix it

[2016-01-19 12:45] TekkitCommando commented on #59
Hmmm JSON Classes were a Jay Wood thing xD @JayWood could you please tell him what's wrong.

[2016-01-19 12:46] mmuziek commented on #59
i think i know my wordpress is on POSTNAME permalink setting not the default i cant get it to change

[2016-01-19 12:47] HappyHarm commented on #59
@mmuziek I think you can better wait until JayWood gives you the answer. I think he can trace this errror back as best of us.

[2016-01-19 12:51] mmuziek commented on #59
@HappyHarm well i tried to test it out but i cannot change the permalink setting in my wordpress it goes back to the last setting so i think something is wrong with my htaccess file or something so i will wait for @jaywood to reply and see what his solution is

[2016-01-19 14:16] JayWood commented on #36
We will not support cracked/offline servers. The reason behind this is simple, if the players on a server, can't be trusted to buy a game, why would you trust them to donate to your server?

Until I can find a legitimate reason to support offline servers that outweighs possible piracy, I cannot see a reason to support offline mode.

[2016-01-19 14:18] mmuziek commented on #36
well bungeecord is in online mode but the subservers arent. thats the problem.
i recommend to use name verification instead of uuid like all other webshops do.
otherwise you abandon like 45% of all servers

[2016-01-19 14:52] HappyHarm commented on #36
@mmuziek Yeah but the subservers get the UUID from the bungee right? And when the bungee is online mode true then the subservers should get the online mode UUID's as well.

[2016-01-19 15:42] TekkitCommando commented on #36
@HappyHarm Bungee should produce real online UUID's if online mode is on. If it doesn't I am sure there are work arounds that we can consider. Minecraft is $26 and totally worth the payment. We aren't really worried.

[2016-01-19 15:50] TekkitCommando commented on #60
I will have it fixed today after i'm out of class.

[2016-01-19 15:56] HappyHarm commented on #36
@TekkitCommando That's what I ment yes ;) I'm not running cracked by myself and I agree that it is worth the money but my server started cracked (when I was still cracked as well) and when I bought it switching to premium would mean to lose everything (because of that fake UUID's) :S

[2016-01-19 16:38] TekkitCommando commented on #36
Yeah.. What I will do is probably try to figure out a way to check if there is a bungee cord instance and that is the only time it will collect offline uuids. I am not sure how plausible that is or if @JayWood has a different idea but that's what i am thinking atm.

[2016-01-19 17:15] mmuziek commented on #59
@jaywood any news on this matter? or should i make a new issue for it?

[2016-01-19 18:12] TekkitCommando commented on #59
@mmuziek make a new issue please so i can label and assign it accordingly

[2016-01-19 18:45] JayWood commented on #36
@mmuziek I understand your point of 'doing what all the other guys do', but well, we're not the 'other guys'. I fully stand by my 'not supporting offline servers' statement. Also, please don't tell me that 45% of ALL Minecraft servers are ran by Bungee, if you're going to provide statistics, at least link some sources.

Perhaps my confusion is purely around how bungee works, if for instance you MU

[2016-01-19 18:49] mmuziek opened #61 "Json broken? from plugin to website"
hi i get [13:43:18] [Server thread/ERROR]: [WooMinecraft] A JSONObject text must begin with '{' at 1 [character 2 line 1]
when commanding manual check the automatic check doesnt log so i cannot see if it works

[2016-01-19 18:53] mmuziek commented on #36
woa i did not say anything offensive.... well atleast i tried to not being offensive

anyways my bungecord is in online mode my subservers in offline with a whitelist function connected to the bungecord proxy this how many servers protect their network from unverified users
so i do get verified by bungee but i get an other uuid then when i host a spigot server alone.
thats the problem in this case

[2016-01-19 18:58] HappyHarm commented on #36
@mmuziek are you sure about that. Really thought that the fake uuids were only for servers that are running their bungee in offline mode.

[2016-01-19 19:05] mmuziek commented on #36
well its true.
this is my real uuid a43e151b-3dae-4521-****-c1e8848e1964
this is the uuid i get from bungeecord:  0db8671f-bfa5-30fd-****-a16060d5a763

[2016-01-19 19:28] JayWood commented on #36
@mmuziek Not sure why you'd hide your UUID, it's openly available from the mojang API, I only need your username :imp:

And no, you said nothing offensive, i was merely apologizing if I came off harsh.

First, thanks for explaining this in detail.  I wasn't aware that you could setup bungee in that way, hell I don't even know what bungee was good for outside of a server host.

With that being said

[2016-01-19 19:39] mmuziek commented on #36
1. answer : nope not possible the player is then not able to join the server if its in offline mode through the proxy
2. answer: its not an autorization proxy. bungeecord is to connect multiple servers to reduce the load over all servers i have set it to online mode and use a whitelist plugin to prevent offlinemode players to join so they have to join through the proxy but can then join all other

[2016-01-19 20:39] HappyHarm commented on #36
Was thinking but does getUUID() not get the uuid the server has registered, no matter or it is bungee or not? In that case getUUID should work for bungee and normal servers.

[2016-01-19 21:36] TekkitCommando commented on #36
@JayWood, getPlayer() is deprecated because players can change their name causing trouble for donation plugins and ban systems. There is no plan to replace it; However getting the UUID fixes the change name problem that's why we still need it. Bungee is a pain and you can code bungee cord plugins. The only 2 plausible ways I think is to either you use your WordPress magic I have come to appreciate

[2016-01-19 21:55] JayWood commented on #36
@TekkitCommando IF we can talk to the Bungee Proxy, then I'm all for it.  We absolutely need to use UUIDs for the exact reasons you just stated.

The problem on the WordPress side of things is we have no idea how Bungee is generating the 'fake' UUIDs, and WordPress contacts the Mojang API to get the REAL UUID. I believe most of this has to be done on the Java side of things, but I'm not entirely s

[2016-01-19 22:00] JayWood commented on #36
Purely off topic, and a rant of course, this makes me dislike BungeeCord - https://www.spigotmc.org/resources/fakeplayers-bungeecord.7887/

I think at this point I'm going to have to research what BungeeCord is, how it works, and what's possible with it, I'll report back in a day or so.

[2016-01-19 22:01] mmuziek commented on #36
mabe its a bad idea. but cant it be possible to just validate the user online and then compaire the user on the server with the user from whats entered online
then you do not have the problem with uuids on servers because the player itself knows best what name he uses to play :)

[2016-01-19 22:02] TekkitCommando commented on #36
@JayWood maybe.. @md_5 is the creator and he may see this or he may be on the forums a lot. I'm not sure if there is a bungee forums but there is a spigot forums and the lead dev of spigot is md_5 as well

[2016-01-19 22:03] TekkitCommando commented on #36
@JayWood ok and yeah people use plugins to manipulate there player list and make fake players on tabs and stuff. I will let you think about it.

[2016-01-19 22:06] TekkitCommando commented on #36
@mmuziek elaborate more, I'm not sure I understand what you mean xD

[2016-01-19 22:07] mmuziek commented on #36
well you only want players that are real to buy stuff.
why not validate the user on wordpress and then check only the player name on the server.
that way there is NO way that it can break

[2016-01-19 22:09] JayWood commented on #36
We need a two point check, getPlayer is deprecated and needs to be updated to getUUID, I'm taking this to the Spigot Forums and will post a link here relatively soon.

[2016-01-19 22:09] TekkitCommando commented on #36
You forgot that it means resending donations is useless cuz they could change their name. We NEED UUID's xD

[2016-01-19 22:10] TekkitCommando commented on #36
@mmuziek

[2016-01-19 22:10] JayWood commented on #36
@TekkitCommando this looks promising - https://www.spigotmc.org/threads/get-mojang-account-uuid-from-proxiedplayer.15857/#post-177609

[2016-01-19 22:10] TekkitCommando commented on #36
@JayWood ok

[2016-01-19 22:14] TekkitCommando commented on #36
@JayWood hmm seems it may work correctly, we will find out more soon.

[2016-01-19 22:26] JayWood commented on #36
@TekkitCommando Thread's up - https://www.spigotmc.org/threads/getting-real-uuid-string-from-a-proxy-setup.116974/

[2016-01-19 22:30] TekkitCommando commented on #36
@JayWood Perfect, I would suggest renaming the thread "Getting real UUID string from a bungee setup?" if possible but doesn't really matter :P

[2016-01-19 22:43] JayWood commented on #36
@TekkitCommando Looks like it's a config thing for both the proxy and sub-servers, at least according to DarkSeraphim - https://www.spigotmc.org/threads/getting-real-uuid-string-from-a-proxy-setup.116974/#post-1250879

Hoping he can give me some sort of official setup documentation link, but it's good to know that it's a config issue, nothing we need to change in the code, at least so far.

[2016-01-19 22:48] JayWood commented on #36
@mmuziek looks like it's a config issue and something that needs to be configured on both Bungee and Spigot servers in order for the proper UUID to get to your sub-servers - see these links:

https://www.spigotmc.org/wiki/bungeecord-configuration-guide/ ( ip_forward must be true )
https://www.spigotmc.org/wiki/bungeecord-ip-forwarding/

[2016-01-19 22:52] JayWood commented on #59
@mmuziek the error is due to data that's not being returned properly.  I'm not entirely sure exactly what that data is, not without being ON your server.

I would consider the dev-nightly build unstable, at best, as well as the WordPress build - everything should be fixed up by Monday.

[2016-01-19 22:53] TekkitCommando commented on #36
@JayWood Glad that was solved without the need for any code atm :D

[2016-01-19 23:09] TekkitCommando commented on #36
@JayWood You know, All the time I spend programming different projects and the time I spend to learn new things, I think I would be pretty good as a remote java developer for a company if I don't make my own soon enough :P

[2016-01-19 23:54] mmuziek commented on #36
sorry to give sad news but ip forwarding is set to true :(

[2016-01-20 01:30] JayWood commented on #36
@mmuziek please read through all links, not just one. It's common to grab the first response and jump on it to try a fix without reading through all things. `hint: you also need to change a setting on your sub-servers' spigot.yml file`

Research is your best bet, everything we can find in regards to UUID's on Spigot and Bungee systems states that it can be done, granted my personal research is jus

[2016-01-20 02:00] TekkitCommando commented on #36
Online = :+1:, Offline = :-1:

[2016-01-20 13:22] HappyHarm commented on #60
See that you did some commits in the dev-nightly with the config? Is the issue solved?

[2016-01-20 13:25] TekkitCommando commented on #60
@HappyHarm should be I gotta jar download in releases section.

[2016-01-20 13:50] HappyHarm commented on #60
Need to compile it with java 7 for myself. Will do that somewhere this afternoon.

[2016-01-20 20:06] mmuziek opened #62 "subscription items"
Hi there.
my suggestion is subscription items. or variable time stamps

soo  a player chooses 30 days from a variable option or choose a month or buys a month item.
they currently get their rank ingame but its never removed automaticly

are there plans to implent this or not? or are there other ways to do this free or for a small fee?

this is my suggestion thanks for reading :D

[2016-01-20 20:09] TekkitCommando commented on #62
So you want there to be an option for recurring payments on donations?

[2016-01-20 20:10] mmuziek commented on #62
something like that or a way to do that because my ranks are for 1 month or 1 year not permanent

[2016-01-20 20:13] TekkitCommando commented on #62
Thats a WooCommerce thing really and if were to look at it as a WooMinecraft feature it would be a WooMinecraft-WP thing. Please submit your suggestion at https://github.com/WooMinecraft/WooMinecraft-WP/issues/new but I am thinking that's a WooCommerce thing. Maybe not, this is where @JayWood is handy, I'm Java and he's PHP/WordPress xD

[2016-01-22 11:28] mmuziek commented on #61
em sorry that i have to ask.
but does this have anything to do with a theme thats installed or permalinks or https
because i use all of them

currently when manually entering the link you build in the plugin it just refreshes the page i'm on on the website

please help i just try to find a way to get it working as i dont see any commits anymore i wanna know if it maby is with my wordpress setup or

[2016-01-22 16:08] mmuziek commented on #61
ok i debugged it down. my website is now only availible through https
and now i get
[17:07:02] [Server thread/ERROR]: [WooMinecraft] Server returned HTTP response code: 503 for URL: https://bitcubes.eu/?woo_minecraft=check&key=34be2fa0c46648f68dcd801d94850acd

[17:07:02] [Server thread/ERROR]: null

org.bukkit.command.CommandException: Unhandled exception executing command 'woo' in plugin WooMinec

[2016-01-22 18:04] TekkitCommando commented on #61
@mmuziek JayWood said that it was a JSON error and there is no way of figuring out the problem without having access to your server. My suggestion is just wait for that stable build Jay was talking about.

[2016-01-22 18:08] TekkitCommando commented on #61
Also that null pointer exception is caused by the check method when called by /woo check

[2016-01-22 18:08] mmuziek commented on #61
sorry that i have to say this but.....
i wanna help him finding out the problem. as far as i can see is that there is NO JSON output at all!
if you do not wish my help then just say so. until now after the last commit for the config there is NO commits anymore and if i quote him he said next monday or so well there is a lot to do for 2 days then. even with or without my help
i dont code java but i

[2016-01-22 18:12] mmuziek commented on #61
if you want access to my server? sure
for wordpress login ask me again
for minecraft just join play.bitcubes.eu and ask for mmuziek i can give you temp OP to check with the commands.

[2016-01-22 18:18] TekkitCommando commented on #61
@mmuziek we encourage contributors. If you want to work on PR's WooMinecraft WordPress side go ahead any help is appreciated. Jay Wood said be expecting a a stable build soon and so I will wait for his commits so I know what he hasn't addressed in the stable version on the Java Side.

[2016-01-23 22:09] JayWood commented on #62
Definitely a WordPress thing.  Has nothing to do with Java. There is already a plugin available for WooCommerce - https://www.woothemes.com/products/woocommerce-subscriptions/ price tag on it is around $200.

Personally, I do not own that plugin, and to provide testing/integration for that plugin, well, I need to own it. I will say the WordPress side of things for WooMinecraft ONLY inserts command

[2016-01-23 22:13] JayWood commented on #36
Removing this from the Monday Milestone - Considering the updates that need to occur on the WordPress side to make this happen, we either push the 'official release' date, or push this.  And since `getPlayer()` works now, we'll just continue to use that for this release.

[2016-01-24 18:14] mmuziek opened #63 "Claim products sign / command (suggestion)"
Hi.
i was thinking. if this plugin calls for the products and directly activates the commands then its possible the player overflows his inventory and then loses some items.

mabe its an idea to make a toggleable setting to only allow manual receiving of order.
so when someone buys something its not automaticly given. it waits until that person clicks on  a sign or enters a command then executes t

[2016-01-24 20:13] JayWood commented on #63
There's code already in place to ensure we don't try to give items to a user if they don't have adequate inventory space - https://github.com/WooMinecraft/WooMinecraft/blob/dev-nightly/src/main/java/com/plugish/woominecraft/WooMinecraft.java#L179-L187

[2016-01-24 20:16] JayWood commented on #63
@mmuziek Additionally we can expand on that check ( I know bukkit uses `/i` instead of give ) or, we can force the command on the WordPress side with like a checkbox or something.

There is, however, plans for this already, just no official task.

[2016-01-24 20:23] JayWood commented on #61
@mmuziek There was an issue with a buffer overflow, or something like that, when I ran a `/woo check` and it failed, I got a similar issue.

The commit 48908be should've fixed this.

The code has changed so much since then, the line numbers in your log aren't going to be helpful now :disappointed:

[2016-01-24 20:25] JayWood commented on #60
I've ran the command numerous times this morning, cannot duplicate.

[2016-01-24 20:26] JayWood commented on #59
Too much going on, closing this thread.  Please open a more 'targeted' thread if the problem persists after Monday's launch.

[2016-01-24 20:26] #59 closed

[2016-01-24 20:30] JayWood commented on #15
Closing, as ticket is way off track and way out of date.  Will re-open if the need arises.

[2016-01-24 20:30] #15 closed

[2016-01-24 20:30] #62 closed

[2016-01-24 21:02] mmuziek commented on #63
em one problem.
if you have essentials installed it uses essentials give command which doesnt check inventory space

[2016-01-24 21:16] TekkitCommando commented on #60
@Jay Wood I fixed it in the commit I made a few days ago

[2016-01-24 21:42] JayWood commented on #63
Simple solution, when making your commands, use `/give <player> item:meta` - The code checks slots if the command saved in the WordPress database starts with `/give`.

[2016-01-24 23:00] mmuziek commented on #63
ok nice do i have to use / in the command and how do i specify amounts?

[2016-01-25 03:56] JayWood commented on #63
Just append the amount at the end of the command, and no, do not include the `/` character.

[2016-01-25 06:17] HappyHarm commented on #63
Uh essentials does override give right?

[2016-01-25 21:44] mmuziek opened #64 "status not found"
hi there.
i was trying out the latest dev build and tested it against the plugin i have
and i get
[21:50:55] [Server thread/INFO]: mmuziek issued server command: /woo check
[21:50:56] [Server thread/WARN]: [WooMinecraft] JSONObject["status"] not found.
its possible i have my plugin behind on commits but when i check it myself:
i get
{"success":false,"data":{"msg":"No results for the following play

[2016-01-25 22:18] JayWood commented on #64
@mmuziek That has nothing to do with the backslash, the slash is there to escape the double quotes - I'll have a look and report back.

[2016-01-25 22:19] JayWood opened #65 "Launch Delays"
Today has just been crazy for me - I won't be able to squash all the required bugs and get testing done  to `officially release` this today.

I'm hoping sometime this week at least, but for now, it's tea and bed for me!

@TekkitCommando - If there's anything you can do on the java side I'd be grateful, if not, no worries, I'll get to it as soon as I can.

[2016-01-25 23:12] TekkitCommando commented on #65
I will try to find the time today to clone the project on my old laptop

[2016-01-26 13:05] mmuziek commented on #65
i'm so sad now :(
well anyways if there are changes to the plugin can you please compile it so i can test it?
i sure wanna keep testing until it works!

[2016-01-26 13:12] TekkitCommando commented on #65
I will be looking at the Java side of things today after school and see what needs to be fixed @mmuziek I will build a jar sometime today.

[2016-01-26 15:46] HappyHarm commented on #65
Hope you'll get well @JayWood!

[2016-01-27 18:41] mmuziek commented on #65
hi there i see everyone is busy.
can i do anything beside java coding because i still dont know how to do java and how to compile anything.

anyways i'm ready to test stuff try stuff or thinking of new ideas and methods

[2016-01-27 22:12] TekkitCommando commented on #65
@mmuziek I am busy with school and I'm doing my PHP and Java courses so that takes up my time at home cuz I learn those online, when I'm done like I said I will get back to this. I forgot to compile the WooMinecraft changes for you so I will do that rn, but major changes will probably come when I'm done with my Java and PHP courses.

[2016-01-27 22:12] TekkitCommando commented on #65
And yes keep thinking up ideas and help we really appreciate it

[2016-01-27 22:13] TekkitCommando commented on #65
If you know PHP and want to help out with coding fork the WooMinecraft-WP repo and make your changes then send a PR for us to test :(

[2016-01-27 22:13] TekkitCommando commented on #65
:)*

[2016-01-27 22:22] TekkitCommando commented on #65
@mmuziek Added a new jar.

[2016-01-28 10:55] mmuziek commented on #64
i tested the last version of the plugin and it still occuers
[11:54:30] [Server thread/WARN]: [WooMinecraft] JSONObject["status"] not found.

[2016-01-28 13:13] TekkitCommando commented on #64
I will probably try to look into that a little today.

[2016-01-30 13:07] mmuziek commented on #65
any news on updates or fixes for one of the projects.
as my website is now broken i had to remove the plugin from my website because of the problems.

well anyways i hope to receive  a reply with the answer soon as my deadline approaches

[2016-01-30 14:04] TekkitCommando commented on #65
Still am not done with the programming classes, so I still have school to worry about, and I got a funeral to go to this weekend so I won't have the time to do anything rn.

[2016-01-30 15:38] JayWood commented on #65
@mmuziek How did the WordPress plugin break your site in such a way that it required you to remove it? The only thing it does is add a field to checkout, and adds 'command fields' to products in the admin.

[2016-01-30 15:40] mmuziek commented on #65
well simple as soon as someone buys something or registers.
it shows a white page with the json output on it which breaks the signup and checkout process

[2016-01-30 15:47] JayWood commented on #65
@mmuziek Hehe, well that's the trouble with nightly dev builds :smiley_cat: Thanks for the report tho!

[2016-02-04 05:21] JayWood opened #66 "Names not being sent to WordPress server"
Looking at `Connection.processNames` and debugging the output in WordPress, we're not getting player names, this is probably due to my mis-understanding of how the Connection class should be written.

Irregardless of my ignorance, if we can't send names, we can't send UUIDs ( later ) so this needs fixed. @TekkitCommando if you get time would you take a look? I believe once we have this fixed we sh

[2016-02-04 12:35] TekkitCommando commented on #66
Yeah I will have a look after school today

[2016-02-05 00:47] #65 closed

[2016-02-06 16:57] JayWood commented on #66
@TekkitCommando fixed it - note to self, don't pass around an object and NOT unset it when finished.

[2016-02-06 18:23] JayWood commented on #64
@mmuziek Fixed in latest pre release https://github.com/WooMinecraft/WooMinecraft/releases/tag/1.0.4pre-1

[2016-02-06 18:31] JayWood opened #67 "Release Naming Conventions"
@TekkitCommando In doing a release today, I seen that Github orders releases alphabetically?  Or maybe by commit hash? idk...

What I'm wondering is if we can standardize, in some way, the release titles.  For example:
`Pre <version> <stable/unstable> Release` - For pre releases
`<version> Release` - For official releases

To be honest, I usually don't do 'releases' I merely tag a version and push

[2016-02-06 18:39] mmuziek commented on #61
he he the bug is not fixed yet as for prerelease stable
06.02 19:37:44 [Server] ERROR [WooMinecraft] A JSONObject text must begin with '{' at 1 [character 2 line 1]

[2016-02-06 18:39] mmuziek commented on #67
well its not stable as i get the json error again :*

[2016-02-06 19:00] TekkitCommando commented on #66
Lol ok, sorry, more personal things came up. I am trying to get everything figured out AND finish my Java and Python classes. Like I said, once I am finished with them I will be back to working on this all day like before :P

[2016-02-06 19:03] TekkitCommando commented on #67
I have a great idea for this, I will type out the idea tonight once I'm in my hotel.

[2016-02-06 19:03] TekkitCommando commented on #67
@mmuziek it may be your wordpress site? I will test it on my Wordpress site tomorrow

[2016-02-06 20:50] JayWood commented on #67
@mmuziek did you download the latest stable pre-release for WordPress as well?

[2016-02-06 20:51] mmuziek commented on #67
yesi did

[2016-02-06 20:55] JayWood commented on #67
@mmuziek Please open a new ticket and paste the debug log if you wouldn't mind.

[2016-02-06 20:58] mmuziek opened #68 "json broken again"
he he the bug is not fixed yet as for prerelease stable
06.02 19:37:44 [Server] ERROR [WooMinecraft] A JSONObject text must begin with '{' at 1 [character 2 line 1]
it seems we are back where we left off :(

[2016-02-06 20:59] JayWood commented on #67
Also @mmuziek make sure you clean out the config for the plugin, just in case.

[2016-02-06 21:00] TekkitCommando commented on #68
was this a thing with you Jay?

[2016-02-06 21:00] TekkitCommando commented on #68
Is it possible it is only his site

[2016-02-06 21:01] mmuziek commented on #67
i have let it regenerate the config file but it seems that it also has the config issue too
it wipes the config but the key so i had to reset the whole plugin again and enter the earlyer made key into the config

[2016-02-06 21:02] mmuziek commented on #68
you may take a look its bitcubes.eu
if you want i can give you the shop key (i can reset the key later on for safety)

[2016-02-06 21:03] TekkitCommando commented on #67
Why enter the earlier key? Why not let it generate a new UUID and update the key in WP dashboard

[2016-02-06 21:04] JayWood commented on #68
@TekkitCommando I asked him to open a new thread so we didn't get off topic again.

@mmuziek Please provide me your security key ( from WordPress, as well as your settings from the plugin in MineCraft ) - I tested this thoroughly and was able to get donations delivered, which leads me to believe it's your wordpress server.

Give me 24 hours to test a few things please, I'm out right now and won't

[2016-02-06 21:05] TekkitCommando commented on #68
@JayWood Ok

[2016-02-06 21:07] mmuziek commented on #68
`# Set this to the desired language file you wish to load.
#
# If your l10n is not available but one is that you know how to speak,consider
# contributing to this plugin at https://github.com/WooMinecraft/WooMinecraft/
lang: en

# This is how often, in seconds, the server will contact your WordPress installation
# to see if there are donations that need made.
update_interval: 1500

# You must set

[2016-02-06 21:08] JayWood commented on #68
@mmuziek copy paste your full config, or take screenshots, that formatting is horrendous :)

[2016-02-06 21:09] mmuziek commented on #68
http://pastebin.com/raw/arS14UUq

[2016-02-06 21:10] TekkitCommando opened #69 "WooMinecraft Available on Plugin Repositories"
@JayWood now that there is a stable release mind if I get WooMinecraft available on Spigot and BukkitDev and maybe you could upload the WP version to the Wordpress plugin repository, idk how the WP plugin repository works so I will leave it to the expert :P

[2016-02-06 21:14] mmuziek commented on #69
here ya go its not that hard
https://nl.wordpress.org/plugins/about/
and for spigot just login and submit resource :)

[2016-02-06 21:16] TekkitCommando commented on #69
I know how on Spigot/Bukkit I have plugins already available :P I just didn't now about the WP Plugin Repository xD Thank though :) I may still leave the WP side of things to @JayWood

[2016-02-06 22:34] JayWood commented on #68
@mmuziek - I did a query against your site with the key provided, and got back a json structured response, like I should have. Note the URLs and responses.
![](https://i.gyazo.com/9594196bb23f0cc83a1f8660c53584e0.png)

So, that means the only issue would be the jar file - Make sure you have the stable jar file from here: https://github.com/WooMinecraft/WooMinecraft/releases/tag/1.0.4pre-1

Once in

[2016-02-06 22:44] TekkitCommando commented on #68
It is recommended that like once a week completely stop and start your server

[2016-02-06 22:46] mmuziek commented on #68
em i always restart my server for plugin updates at least once a day! i never reload as this crashes my server network.
i'm testing it once again :+1:

[2016-02-06 22:48] mmuziek commented on #68
well it seems to work now after 5 restarts .
it seems it didnt pick the config changes i made. and resets the config so i stopped the server after 4 tries and then edited the config then startup the server again and now it works :dart:

[2016-02-06 22:54] JayWood commented on #68
Sounds like something on the jar side of things was cached, but glad it's working for you.

[2016-02-06 22:57] JayWood commented on #69
@TekkitCommando I'll submit it before monday to WP.org, but I have to make a proper Readme.txt file beforehand, which shouldn't be an issue.  I already have 2 plugins on .org repo so I know how it goes

As for submitting it to Spigot and others, I don't see why not..

[2016-02-06 23:22] TekkitCommando commented on #69
Alright cool

[2016-02-06 23:30] #68 closed

[2016-02-06 23:31] JayWood commented on #67
This is off topic again, please keep relevant conversations in the relevant threads, for the sake of history :smile: - closing this.  @TekkitCommando let me know when you have that up so I can take a look.

[2016-02-06 23:31] #67 closed

[2016-02-06 23:32] TekkitCommando commented on #67
@JayWood Alright

[2016-02-07 13:55] TekkitCommando commented on #67
@JayWood I think we can just go with your idea, that should work fine :) but instead of tagging with stable/unstable maybe tag with Alpha, Beta, or Mature like Bukkit does. Alpha meaning may be unstable, Beta meaning most likely stable but there could be a bug here and there, and Mature meaning you probably won't find any bugs and we recommend using this version. What you think?

[2016-02-07 17:10] TekkitCommando commented on #69
@JayWood made the pages for both Spigot and Bukkit.

[2016-02-07 19:02] #41 closed

[2016-02-07 19:02] #42 closed

[2016-02-07 19:02] #43 closed

[2016-02-07 19:02] #57 closed

[2016-02-07 19:02] #66 closed

[2016-02-07 19:03] #64 closed

[2016-02-07 19:03] #61 closed

[2016-02-07 19:03] #40 closed

[2016-02-07 19:03] #39 closed

[2016-02-07 19:03] #18 closed

[2016-02-07 19:21] JayWood commented on #69
@TekkitCommando Link? Also, submitted to WordPress.org

Additionally, both WP and Java code is officially released on master!

[2016-02-07 19:40] TekkitCommando commented on #69
@JayWood https://www.spigotmc.org/resources/woominecraft.18126/ and https://dev.bukkit.org/Bukkit-plugins/WooMinecraft

I need to add zip folders with a readme and the WP plugin and jar for convenience as the download on those pages, I will do that in about an hour when I'm on my laptop

[2016-02-07 19:57] JayWood commented on #69
Cool beans, thanks man.

[2016-02-07 20:20] TekkitCommando commented on #69
Np

[2016-02-07 20:25] JayWood commented on #69
Blog post up, creds for @TekkitCommando and @mmuziek in there as well :) http://www.plugish.com/2016/02/woominecraft-self-hosted-donation-system/

[2016-02-07 20:27] HappyHarm opened #70 "Updating the wiki"
Hi there,

Saw everything has been updated and the project has been put on SpigotMC now so I thought it is time to update the wiki :P So my question was is there a changelog available with things that have changed so I can review the wiki?

[2016-02-07 20:39] HappyHarm commented on #69
@TekkitCommando It looks like the spigot page didn't got copied really well. Think they are using an another styling system then bukkit.

[2016-02-07 20:43] Pandoroxus opened #71 "Checking for donations generates an error."
Whenever I run /woo check an error appears in the console.
[Error Here](http://pastebin.com/rW2uDTE8)
I'm running 1.0.0 of the WordPress build and 1.0.4 of the Server Jar.
Any help would be appreciated.

[2016-02-07 20:47] mmuziek commented on #69
@jaywood thanks man for the credits :)
i keep on testing for you  :)

[2016-02-07 20:55] JayWood commented on #71
:whale2: - Fail whale.... ugh, well thanks for the ticket, looking into this immediately :(

[2016-02-07 20:58] TekkitCommando commented on #70
I am updating the changelog on my website after I upload the zips to the Bukkit and Spigot pages, you can read off that.

[2016-02-07 21:00] TekkitCommando commented on #69
@HappyHarm Yeah I was on my phone and waking down a sidewalk and didn't spend to much time lol

[2016-02-07 21:06] JayWood commented on #71
@Pandoroxus I cannot replicate this, but I've added the Accept-Charset header in the last commit hoping that will fix it, in accordance with this http://www.checkupdown.com/status/E406.html

Should have a jar file shortly

[2016-02-07 21:16] TekkitCommando commented on #71
@JayWood If there any new commits can we start doing sub build versions (for example: 1.0.4.1) so I can track the changes and update the plugin files accordingly on Bukkit/Spigot xD

[2016-02-07 21:19] JayWood commented on #71
Sub-builds? I'm not used to doing that but I can, how do you want me to label this fix?

[2016-02-07 21:23] JayWood commented on #71
@Pandoroxus - Give this file a go, until @TekkitCommando gets back to me.

[WooMinecraft-1.0.5-SNAPSHOT.zip](https://github.com/WooMinecraft/WooMinecraft/files/120925/WooMinecraft-1.0.5-SNAPSHOT.zip)

[2016-02-07 21:26] Pandoroxus commented on #71
@JayWood Thanks, I'll test it and report back ASAP.

[2016-02-07 21:28] JayWood commented on #71
Also, can you tell me if your web-server has any special configurations to disallow specific headers, such as modSecurity, or CSF? ( if you have any idea what those are )

[2016-02-07 21:28] TekkitCommando commented on #71
@JayWood Maybe just WooMinecraft <version> Fix #<number> so like WooMinecraft 1.0.4 Fix #1 then in the description describe the fixes. Just my opinion, makes it more organized :D

[2016-02-07 21:28] JayWood commented on #71
@Pandoroxus Additionally, install the latest version of the WordPress plugin here https://github.com/WooMinecraft/woominecraft-wp/releases/tag/1.0.1

Just had to release a hotfix for it, so make sure you get it on your server.

[2016-02-07 21:29] JayWood commented on #71
@TekkitCommando How about RC? I see it in plugins all the time, like Bukkit_1.7.10-RC1

[2016-02-07 21:31] TekkitCommando commented on #71
Yeah Release 1 like CraftBukkit, works for me :)

[2016-02-07 21:32] JayWood commented on #71
@TekkitCommando Cool, I know RC stands for release candidate, so makes sense. I'll wait for @Pandoroxus to report back though, if that fixes it I'll get it up there, if not I need to look into the HTTP 406 error more, and that may take awhile.

[2016-02-07 21:33] TekkitCommando commented on #71
@JayWood Alrighty :)

[2016-02-07 21:47] Pandoroxus commented on #71
@JayWood I tried the 1.0.5 and it didn't seem to make any difference. I went into my config and added www. to the start of the URL and the error from before went away (I think it's because of our DNS settings, our server and website share the URL and I was worried the request was going to the wrong place (even though it shouldn't)). Now I'm not getting any errors but the donations aren't coming th

[2016-02-07 21:56] TekkitCommando commented on #71
@Pandoroxus Can you paste your config on pastie.org and send me the link? @JayWood do donations still need to be marked as completed before the donations are sent?

[2016-02-07 21:59] JayWood commented on #71
@TekkitCommando yes, donations must be marked as completed before they're sent to the server.

[2016-02-07 22:00] Pandoroxus commented on #71
@TekkitCommando [Here](http://pastie.org/private/1bnkr6vk2go5n5p5mkjn1q)
Also, on a semi-related note when I type the URL into my browser (putting &names=Pandoroxus at the end because it ends up in the same superglobal) it returns the expected result, so whatever's derping must be to do with the (minecraft) server.

[2016-02-07 22:01] JayWood commented on #71
@Pandoroxus can you post your log from when you run `/woo check` as well

[2016-02-07 22:01] TekkitCommando commented on #71
@Pandoroxus have you set the donation as completed?

[2016-02-07 22:02] JayWood commented on #71
@TekkitCommando looks like he does - http://creationbaymc.com/?woo_minecraft=check&key=54add0280f7145fab88af9c5cc345da0&names=Pandoroxus

Without the order being completed, that data wouldn't show.

[2016-02-07 22:03] TekkitCommando commented on #71
@JayWood Ok

[2016-02-07 22:04] Pandoroxus commented on #71
@JayWood @TekkitCommando That's exactly what I do. Running /woo check just shows 07.02 15:02:27 "[Server] INFO No donations for online users." in the console. (I'm online and not vanished on the server)

[2016-02-07 22:05] JayWood commented on #71
@Pandoroxus paste your woominecraft config if you wouldn't mind.

[2016-02-07 22:07] Pandoroxus commented on #71
@JayWood The config is the "here" in my last comment.

[2016-02-07 22:08] JayWood commented on #71
OH, sorry didn't see that :)

[2016-02-07 22:25] JayWood commented on #71
The only thing I can think of is it's how your server is setup on the DNS side of things.  Having www vs. non www I mean.

For instance, this link works: http://creationbaymc.com/?woo_minecraft=check&key=54add0280f7145fab88af9c5cc345da0&names=Pandoroxus

But, so does this one: http://www.creationbaymc.com/?woo_minecraft=check&key=54add0280f7145fab88af9c5cc345da0&names=Pandoroxus

So, I decided to

[2016-02-07 22:32] Pandoroxus commented on #71
@JayWood I'm installing the new one now. The DNS thing shouldn't be an issue now that there's a www there, the points exclusively to the web server, only without the www can it point to both the minecraft and web server.

[2016-02-07 22:34] Pandoroxus commented on #71
@JayWood Console output of latest jar:
07.02 15:33:49 [Server] INFO No donations for online users.
07.02 15:33:49 [Server] INFO URL: http://www.creationbaymc.com
07.02 15:33:49 [Server] INFO Key: 54add0280f7145fab88af9c5cc345da0
07.02 15:33:49 [Server] INFO NamesResults: {"success":false,"data":{"msg":"Method or Names parameter was not set.","code":7}}
07.02 15:33:49 [Server] INFO Player List: Pan

[2016-02-07 22:58] JayWood commented on #71
@Pandoroxus okay, I've updated the debug for that NamesResults, which is the result from the WordPress server.  The ONLY reason you should get that code is if all required parameters weren't set.

With this zip I'll be able to tell what is exactly being sent from point a to point b.  https://github.com/WooMinecraft/woominecraft-wp/archive/dev.zip - Delete the other wordpress plugin first.

Once th

[2016-02-07 23:01] Pandoroxus commented on #71
@JayWood
07.02 16:01:24 [Server] INFO No donations for online users.
07.02 16:01:24 [Server] INFO URL: http://www.creationbaymc.com
07.02 16:01:24 [Server] INFO Key: 54add0280f7145fab88af9c5cc345da0
07.02 16:01:24 [Server] INFO NamesResults: {"success":false,"data":{"msg":"Method or Names parameter was not set.","request_data":"{\"woo_minecraft\":\"check\",\"key\":\"54add0280f7145fab88af9c5cc345da

[2016-02-07 23:05] JayWood commented on #71
Okay great, that give me a place to start, it looks like the names isn't being posted in the /check request, I'll have to dig into the code and figure that out, especially since it's working for me.

[2016-02-07 23:12] JayWood commented on #71
@Pandoroxus One question, if you restart your Minecraft server, then run the command, does it work initially, and then stop working? I had the same issue, but forgot how I fixed it, which is why I ask.

[2016-02-07 23:25] Pandoroxus commented on #71
@JayWood I just tested and it just never works.

[2016-02-07 23:29] JayWood commented on #71
@Pandoroxus Okay thanks, and I appreciate your patience in this situation. For security reasons go ahead and change your key.  I'll have to dig into the java to figure out why the `names` data isn't being sent to your server from the jar.

I'm not saying this'll be easy to replicate since for me, I'm not having that issue. I'll report back hopefully tonight with a fix, if not after work sometime t

[2016-02-07 23:33] JayWood commented on #71
For a technical aspect - @TekkitCommando - the issue seems to be in `Connection.getPlayerResults()` - if you get time to test let me know if you find anything. Could also be with `Connection.processNames()` but I'm not sure at this point, since, well.. it works for me.

[2016-02-07 23:34] TekkitCommando commented on #71
I will be testing the plugin hardcore tonight after church but I will look at the code and see if I find anything that look bug prone.

[2016-02-07 23:44] TekkitCommando commented on #71
@JayWood My phone screen is tiny and so I may have missed it but I can't find the code that actually gets the players name

[2016-02-07 23:45] TekkitCommando commented on #71
I will look again when I'm on my laptop, more then likely I will see it then. I was just scanning really

[2016-02-07 23:45] JayWood commented on #71
@TekkitCommando It's in `WooMinecraft.getPlayerList()` - It just returns a comma delimited list of player names.

[2016-02-07 23:46] Pandoroxus commented on #71
@JayWood @TekkitCommando Thanks for your help so far, I really appreciate it. I went ahead and changed the key as well.

[2016-02-07 23:48] TekkitCommando commented on #71
@Pandoroxus np :) and @JayWood ah ok I see, hmm well I will do some tests when I'm back from church, see if I find something.

[2016-02-07 23:49] JayWood commented on #71
@TekkitCommando thanks man, dinner's ready here, and considering I've been coding since noon, it's time to eat :smile:

@Pandoroxus not a problem, that's why we do this.

[2016-02-08 05:04] littlemarc2011 opened #72 "Not asking for player ign"
Well after installing everything... WooMinecraft and WooCommerce I added a product and set a command. When I got to check out it never asks for the player id and asks for shipping details. How do I disable shipping details and have it ask for player ign? Basicly like how it is in: https://youtu.be/vHrxSzo7JnQ?t=4m36s

Are some of my settings wrong? I setup everything like the wiki said.

[2016-02-08 06:20] JayWood commented on #72
No need to open cross-tickets, I responded to the WordPress ticket, closing as this is not java related.

[2016-02-08 06:20] #72 closed

[2016-02-08 13:41] HappyHarm commented on #60
Just tried the newest build and it looks like it's still not fixed

[2016-02-08 13:46] HappyHarm opened #73 "Woo register swipes rest of configuration"
Hi, same issue as I reported some weeks ago. Just tried the newest build but it looks like the config is getting swiped again.
#60
![](http://i.imgur.com/kgp5R7s.png)

[2016-02-08 13:47] TekkitCommando commented on #60
@HappyHarm it's weird, for some reason people that used the alpha builds say this still happens (mmuziek tried so many times that I guess it flushed the cached data and started working correctly for him) I am trying to find a Java command that deletes cached data or build info for earlier jars

[2016-02-08 13:49] TekkitCommando commented on #60
It may be the fact that the code says that 'key' only instead of pointing at 'WooMinecraft.web.key' it's a location statement and I'm sure I changed it to be 'WooMinecraft.web.key' and @JayWood changed the code in the register command back to just 'key' but I'm not sure why

[2016-02-08 13:49] TekkitCommando commented on #60
I am working on a few things and will push them to dev nightly later today

[2016-02-08 13:50] TekkitCommando commented on #73
See my comments on the closed issue.

[2016-02-08 13:51] HappyHarm commented on #70
A question: where should people download the lang files? I see that there is a folder with lang files in the /resources/lang and a repos for the lang files. Which one is the one that I should link to in the wiki?

[2016-02-08 13:51] HappyHarm commented on #60
Ok then, thanks for the quick response :)

[2016-02-08 13:53] HappyHarm commented on #73
Answered that one ;) Maybe we should use the open one now or open the old issue again xD

[2016-02-08 13:59] JayWood commented on #60
@TekkitCommando WooMinecraft.web.key was the nested config, and the config is no longer nested.

[2016-02-08 14:00] TekkitCommando commented on #70
The repo with the lang files is for convenience so if you just need the lang files you don't need to download all the code as well. So I guess the repo

[2016-02-08 14:01] JayWood commented on #73
Duplicate of #60 re-opened, closing this one.

[2016-02-08 14:01] #73 closed

[2016-02-08 14:02] HappyHarm commented on #70
Then I guessed it right :P Just updated the configuration wiki page btw :)

[2016-02-08 14:03] TekkitCommando commented on #60
@JayWood Ah ok, that's how I know the data is cached on my server then cuz it is still nested for me even with the new jar.

[2016-02-08 14:05] TekkitCommando commented on #70
@HappyHarm No, most of everything was bug fixes with 1.0.4 but you may need to update the bukkit setup so the config is not nested anymore as soon as I figure out why java is not resetting the data with a new jar.

[2016-02-08 14:08] JayWood commented on #60
@TekkitCommando I believe the issue may be with `saveConfig` here:

![](https://i.gyazo.com/7121fa0317ea3ec54b58b3cf44c29908.png)

Maybe we have to get the entire config, and then write it?

[2016-02-08 14:21] TekkitCommando commented on #60
@JayWood I don't see why you would, it worked fine before. plugin.saveConfig() should work fine and setting the key shouldn't effect the other config options. I don't see you having to do plugin.getConfig().saveConfig(); but I mean you could try

[2016-02-08 14:24] JayWood commented on #60
@TekkitCommando I can't do anything until after work today, it's currently 9AM, so nothing from me until 5PM [ GMT -5 ]

Admittedly I didn't test that command **my bad** I'm used to having a full QA team at my side :smile: If you have time give it a go, if not I'll have a look after work.

[2016-02-08 14:27] TekkitCommando commented on #60
@JayWood I don't think that .getConfig().saveConfig() will even work actually xD I will give it a try :P Oh yeah a job, I need to get one of those things. Maybe I will find a job in Python development or PHP/Java after I finish my classes lol

[2016-02-08 14:44] TekkitCommando commented on #60
@JayWood I tested my theory of using getConfig and saveConfig and it was a fail :/

[2016-02-08 15:29] HappyHarm commented on #70
@TekkitCommando I guess I did that already but don't really get what you mean. Could you check https://github.com/WooMinecraft/WooMinecraft/wiki/Step-1:-Server-Plugin-Installation and say or it is good so far?

[2016-02-08 16:03] TekkitCommando commented on #70
@HappyHarm Yes that's good :)

[2016-02-08 17:18] JayWood commented on #70
@HappyHarm Just to chime in, you may want to put ( in the wiki ) a list of available language parameters for the Lang config option and what language they represent - you can see the files here: https://github.com/WooMinecraft/WooMinecraft/tree/master/src/main/resources/lang

The `en` lang selection would correspond to the `en.yml` file in the directory.

[2016-02-08 19:11] HappyHarm commented on #70
@JayWood ok but do people need to download them then? Or for example if I want the Dutch language file I just have to set it to nl and it will get the language file automatically?

[2016-02-08 19:25] JayWood commented on #70
@HappyHarm No they don't have to download it, setting the parameter in the config will automatically pull it from the jar file and put it in the config folder, then load it.

[2016-02-08 19:28] HappyHarm commented on #70
@JayWood Thx, was already wondering why they were in the resources folder :smile:

[2016-02-08 22:52] JayWood commented on #69
@TekkitCommando - Repo approved on .org https://plugins.svn.wordpress.org/woominecraft/ will upload it hopefully sometime in the next few days.

[2016-02-09 14:04] HappyHarm commented on #70
@JayWood Updated the language part. Think it's correct now.

Another question, I saw on this picture on the wp repos that you used some way to manage timed commands or something and that you are using variable product in stead of simple product.
https://raw.githubusercontent.com/WooMinecraft/woominecraft-wp/dev/screenshot-2.png
Is there a specific reason for? I did something else on the wiki xD

B

[2016-02-09 17:43] JayWood commented on #70
@HappyHarm re: timed commands

There's an old issue about that, to do timed commands you'd have to use something like PEX or other systems.  I just did that for an example.

For the plugin site issue, I'll have to update the page.

[2016-02-09 17:45] JayWood commented on #70
@HappyHarm for variable products check this out - they're really handy: https://docs.woothemes.com/document/variable-product/

[2016-02-09 18:52] HappyHarm commented on #70
@JayWood Will read it. But is it recommend for minecraft packages?

[2016-02-10 03:22] JayWood commented on #70
Yes, WooMinecraft supports product variations, or 'packages' as it can be called.  All you have to do is make sure your 'variations commands' are indeed in the variations, not in the general commands section.

You can, however put commands in the general commands AND a variation.  If a command is in the general commands, it runs before the variation commands.

Your example works perfect, say you'r

[2016-02-10 08:32] HappyHarm commented on #70
@JayWood Ah now I get whay you ment with that example picture. Will think about writing something about this in the wiki.

[2016-02-11 22:59] BrightSteel opened #74 "Config incomplete?"
Inside the config of the minecraft plugin, there is only one option:

_#Set this to the desired language file you wish to load.
key: bunchofnumbersrighthere_

I don't see a place to state the url for my wordpress installation, as is shown in the installation steps. Is this a problem on my end or am I missing something?

[2016-02-11 23:37] BrightSteel commented on #74
Nevermind, I manually added the url section to the config and it works. I was just being dumb.

[2016-02-11 23:37] #74 closed

[2016-02-11 23:40] BrightSteel opened #75 "Commands aren't run after purchase, /woo check doesn't work."
After purchasing a woo commerce product on my website, the Minecraft WooCommerce commands aren't ran. Also, when I run /woo check in-game I'm given "No purchases available - please try again soon".

I have added my key to my wordpress site and setup the config successfully, although the plugin doesn't seem to be communicating with my woo commerce products.

[2016-02-11 23:59] BrightSteel commented on #75
Also, when I enter http://pixelhype.net/oo_minecraft=checkey=mykeyhere in my browser, I'm given a 404 error page. I'm not sure if that's supposed to happen or not. (http://pixelhype.net is the website I'm trying to use this plugin for).

Any help would be great. Really need this plugin to work, buycraft is a major rip off!

[2016-02-12 07:08] HappyHarm commented on #75
Did you accept/complete the order in the admin panel?

[2016-02-13 08:20] JayWood commented on #75
@BrightSteel To chime in here, that url is all screwed up... no wonder it doesn't work.  The correct url structure is like so - http://<mysite>/woo_minecraft=check&key=<key_here>

Notice how woo_minecraft is not missing the `w` and that there's an ampersand `&` between check and key.  Additionally, as @HappyHarm stated, orders must be marked as complete in order for the commands to be prepped for

[2016-02-13 08:21] JayWood commented on #71
@TekkitCommando just checking in, any luck in replicating the issue from @Pandoroxus ?

[2016-02-13 13:40] TekkitCommando commented on #71
@JayWood oh sorry, um no, but I am gonna try again today since it's the weekend

[2016-02-13 15:45] JayWood commented on #69
@TekkitCommando We're now on .org https://wordpress.org/plugins/woominecraft/ - This means that I don't have to worry about people complaining 'my version is out of date' when they only need to click update in the WordPress admin now.

[2016-02-13 17:05] TekkitCommando commented on #69
awesome!

[2016-02-18 15:14] FinlayDaG33k opened #76 "Not running commands"
when I do a test purchase, the commands that I run (`say %s just did  a test purchase`) are not ran.
going to `https://www.finlaydag33k.nl/?woo_minecraft=check&key=SUPERSECRETKEY` in my browser says: `{"success":false,"data":{"msg":"Method or Names parameter was not set.","code":7}}`

I also noticed that I cannot enter my Minecraft username when doing the purchase...

[2016-02-18 16:28] TekkitCommando commented on #76
Hmm that's been a problem but only for a couple people. @JayWood will probably have to look into this since it is a Wordpress side thing, I know there was other problems only a couple people were having but worked for me which is weird. I will do a fresh install of my Wordpress site and setup a fresh server and see if I can reproduce this problem :) Thank you for the bug report.

[2016-02-18 17:15] FinlayDaG33k commented on #76
also might be helpful to know:the console doesn't seem to show any error.

[2016-02-18 17:54] TekkitCommando commented on #76
It won't unless it's a Java error

[2016-02-18 18:15] HappyHarm commented on #76
Are you using the latest woocommerce and WooMinecraft wordpress plugin version? Also do you have any other woocommerce/wordpress plugins that could conflict into this one by editing the required fields for example?

[2016-02-18 20:03] FinlayDaG33k commented on #76
Im running WooMinecraft `Version 1.0.1` woocommerce `Version 2.5.2` but I do have a plugin that changes the required fields called `WooCommerce Remove Billing Fields for Free Virtual Products`

[2016-02-18 22:01] JayWood commented on #76
@FinlayDaG33k Oh dear, we're hooked into the billing fields area, so if that's removed in some fashion, then that would indeed break it.  BUT, since that plugin was disabled, it wouldn't explain why it broke unless that plugin, for some reason, copied over a template to your theme.

On a second note, no, you will not get anything when simply 'accessing the url', you must send `$_POST` data as well

[2016-02-18 22:02] JayWood commented on #76
@TekkitCommando On a side note, I'm going to look and see if there's a more logical location to put the username field, since people are having so many issues with it's current location during checkout.

[2016-02-19 01:07] TekkitCommando commented on #76
@JayWood Ok

[2016-02-19 08:05] FinlayDaG33k commented on #76
I compared the HTML output of the checkout page with and without the `WooCommerce Remove Billing Fields for Free Virtual Products` and the only thing major that was changed (except for some Cloudflare stuff) is on these pastebin links:
[Without](http://pastebin.com/e5BrZAYS)
[With](http://pastebin.com/2VMSAzCr)

hope this might helpout a little

[2016-02-19 21:42] HappyHarm commented on #76
Don't know really but you could try to reinstall the WooMinecraft plugin when that billing thing is disabled. Maybe that will readd the fields.

[2016-02-20 08:10] FinlayDaG33k commented on #76
I've reinstalled it with the billing thing disabled, but no luck.

[2016-02-20 19:53] daytonmills commented on #76
The checkout field is missing the 'name' area for the MC username. Although I haven't used any plugins to remove the billing fields. This plugin is exactly what I was looking for, so I hope it's fixed soon.

[2016-02-21 06:40] JayWood commented on #76
I plan to work on this tomorrow to see what is going on, but if @FinlayDaG33k and @daytonmills can at minimum check with the default theme ( 2015 or 2016 ) and let me know if that works.

If indeed that does work , that would mean the issue would be with the theme.  Since with wooCommerce, you can override checkout templates by copying them over to your theme.

Alternatively, if deactivating your

[2016-02-21 18:08] FinlayDaG33k commented on #76
I tried it with the `2015` theme, but unfortunately, no luck...
I'm using the `Sparkling theme` for the actual site.

[2016-02-21 19:26] daytonmills commented on #76
It didn't work for me on the 2015 theme either. I am using the [Klein](http://themeforest.net/item/klein-a-nittygritty-community-theme/5418518) theme.

[2016-02-21 19:39] JayWood commented on #76
On the off chance you trust me to access your site, I'd like to get into the back-end and see how the product is setup.  If @FinlayDaG33k or @daytonmills can shoot me a user/password for the site at my skype `jjswebs` that'd be great.

The only place I can see this failing is in the has_items check.  The way it works is it checks your cart for items which have commands listed, if no item has comma

[2016-02-21 19:45] JayWood commented on #76
@FinlayDaG33k @daytonmills Ignore that request, I've reproduced the error **facepalm** expect a fix shortly....

[2016-02-21 20:08] JayWood commented on #76
@FinlayDaG33k - you should get an update request in your WP dashboard shortly for the plugin.  WHen you're satisfied it's working as intended, please close this ticket :+1:

[2016-02-21 20:44] FinlayDaG33k commented on #76
@JayWood I'll be waiting for the update then. how long do you think it will take?

[2016-02-21 21:44] JayWood commented on #76
@FinlayDaG33k should be about 30 minutes, but you can also download the zip directly here; https://github.com/WooMinecraft/woominecraft-wp/archive/master.zip

[2016-02-22 07:23] FinlayDaG33k commented on #76
it seems to work! yay :D

also, the version is still on 1.0.2 (should be 1.0.3 I guess but it's no big deal)

[2016-02-22 07:23] #76 closed

[2016-02-22 23:23] JayWood commented on #76
haha yea I tried fixing it with new commits, but the versioning will have to wait until next update apparently. It working is the main goal :)

[2016-02-29 21:55] JayWood commented on #75
No comments in 14+ days, closing, feel free to re-open if need be.

[2016-02-29 21:55] #75 closed

[2016-02-29 21:55] #69 closed

[2016-02-29 21:56] JayWood commented on #60
@TekkitCommando @HappyHarm is this still a thing?

[2016-02-29 21:58] JayWood commented on #70
@HappyHarm please close this when complete.

[2016-02-29 22:08] TekkitCommando commented on #60
I am not sure, my computer is not working correctly, I bought some parts to fix it and then I will get the latest jar and test this. Sorry for the inactivity, like I said I bought some parts so maybe I will have the JDK installed today and be back to code again :D

[2016-03-01 17:00] HappyHarm commented on #60
Idk my hosting got cleared a week ago and didn't got time to re-setup everything. Maybe I can test it this evening, if I forgot renember me :P

[2016-03-01 17:02] HappyHarm commented on #70
Whoops forgot that this was still open. Don't have any questions anymore so I'll close it.

[2016-03-01 17:02] #70 closed

[2016-03-01 23:56] morgan2233 opened #77 "Getting Donations"
hello i have installed your plugin but when i buy products of the website in game i dont get them and i have set up using this wiki https://github.com/WooMinecraft/WooMinecraft/wiki but when i buy something i get confirmation but nothing happens in game

[2016-03-02 01:27] TekkitCommando commented on #77
Have you set the purchase as complete in your admin dashboard?

[2016-03-02 16:49] HappyHarm commented on #60
Yep issue is still here. Sorry for the delay, forgot it as expected :P

[2016-03-02 17:54] TekkitCommando commented on #60
I will restructure the config code today if i get the time :)

[2016-03-02 20:14] morgan2233 commented on #77
ok it worked when i moved server to my personal mc but it doesn't on my VPS so is there a port or something

[2016-03-02 21:12] JayWood commented on #77
@morgan2233 there are no ports, the HTTP request uses standard port 80 to go from your MC Server to the Web Server and back again.

The only thing I can think of is there may be a disconnect somewhere between your MC server and the Web Server.  Which could possibly be a host-related issue ( firewall rules ).

One thing to do, if you have SSH access to your MC server would be to ping the web server

[2016-03-02 21:30] morgan2233 commented on #77
Thank i did a ping it worked but plugin didnt so then i just tried to test and in the firewall i enabled port 80 and it works

[2016-03-09 16:20] Hoki-gcav opened #78 "Having issues getting it working."
When I do /woo check it tells me their are no orders after ordering something and pressing order completed.

I have read all the latest issues somewhat relevant to my issue.
I have the wordpress plugin fully setup and updated to its latest version, I'm on the latest wordpress build.
I have the spigot plugin on its latest version and I'm running spigot 1.8.8 with Java 8.
Wordpress is running PHP 5.

[2016-03-09 16:36] mmuziek commented on #78
@Hoki-gcav have you set the key in the config of the plugin and the website to the same key?

[2016-03-09 16:42] Hoki-gcav commented on #78
yes

[2016-03-09 17:09] FinlayDaG33k commented on #78
I made a pull request to fix the security vulnerability https://github.com/WooMinecraft/woominecraft-wp/pull/15

[2016-03-09 20:24] JayWood commented on #78
Simply accessing the site with the key is not enough, at least until WooMinecraft/woominecraft-wp#4 is completed.

Until then, in order to actually see if there are donations you'll need to make sure the name is saved in your database. To do that you need to send data to the URL using a form request, either A. ) Create a simple HTML form to do this for you, or B. ) Use [postman](https://www.getpos

[2016-03-09 20:26] #77 closed

[2016-03-09 20:28] JayWood commented on #71
@TekkitCommando no updates in 25 days? School maybe?

[2016-03-09 20:29] FinlayDaG33k commented on #78
Together with @Hoki-gcav I managed to help him get it to work.
When creating a package, on the wiki it says you only have to check the `virtual` checkbox, while you also have to check the `downloadable` checkbox (or you have to manually complete the order on the order page in the admin panel).

I tested it with my own server as well to verify it, and you have to check the `downloadable` checkbox e

[2016-03-09 20:32] JayWood commented on #78
@FinlayDaG33k Oh? I've not tested that scenario.  I don't remember making any determinations on product types, that must be an internal WooCommerce thing, but I'll look into that since `downloadable` must be doing something extra in the WC side.

[2016-03-09 20:34] FinlayDaG33k commented on #78
Yes, ticking the `downloadable` checkbox makes the order automagically complete.
and for a reason that I don't yet know the orders will only execute after the order status is `completed`

[2016-03-09 20:46] JayWood commented on #78
@FinlayDaG33k That's intended, we only want to add commands if an order is completed, otherwise we run the risk of adding multiple commands at different times.

[2016-03-09 20:48] JayWood commented on #78
SO if that's the case, this isn't a bug, but a feature of WC whereas if all items on the order are 'downloadable' then it auto-completes said order, which I didn't know.

[2016-03-09 20:48] JayWood commented on #78
This issue leads back to this https://github.com/WooMinecraft/woominecraft-wp#i-just-got-a-donation-but-its-not-being-sent - so marking as a duplicate, and not a bug.

[2016-03-09 20:58] FinlayDaG33k commented on #78
I always use the `downloadable` checkbox when something is not physical :p makes it easier for me to manage and stuff (which is why I managed to figure it out)

[2016-03-09 21:19] JayWood commented on #78
Cool, well thanks for the knowledge - I'll be sure to update the wiki.

[2016-03-09 21:19] #78 closed

[2016-03-09 21:31] TekkitCommando commented on #71
@JayWood yes :'( I can't wait till May 27th no more school and I can work on my favorite projects like WooMinecraft :D I am sorry for the going MIA as many times as I have this school year, it's the hardest year at my school but summer and next year I will have all the time I need for WooMinecraft sense next year is pretty laid back.

[2016-03-10 02:39] JayWood commented on #71
@TekkitCommando Going MIA doesn't bother me, perhaps in the future at least an update once in awhile.  Abandoned tickets is just bad mojo. Also, don't be afraid to say "I don't have the time" or something to that effect.

Personally I've had plenty of time to look further into this, but was under the assumption it was already being looked into.

[2016-03-10 12:22] TekkitCommando commented on #71
@JayWood Ok sorry I will make sure to let you know when I am short on time for these things.

[2016-03-10 12:23] TekkitCommando commented on #71
And I spelled since wrong in my other message xD

[2016-03-21 20:41] doitliketyler opened #79 "Commands not forwarding to server and /woo check error"
Hey there. I followed the setup instructions thoroughly and can't seem to figure out whats going on. When I purchased a package through my donation store the commands never make it to the server and if I use the /woo check command I get this error:

http://pastebin.com/HwNHG4gp

Any ideas? I'm running on Spigot 1.9

[2016-03-21 20:45] JayWood commented on #79
We have not tested for 1.9 yet, but the error is `21.03 16:38:19 [Server] ERROR [WooMinecraft] Server returned HTTP response code: 406 for...` which is the same error as #71

We've not been able to replicate the error however, so debugging is not easy to say the least.

Could you provide detailed information as to your server setup? Basically everything but your password, essentially the more info

[2016-03-21 20:50] JayWood commented on #79
ALso, check your URL `http://curiocore.comoo_minecraft=check&key=d9a4813b1a5d4b27ae5068d8bf60248c` looking at that URL there's a problem (obviously) - can you paste your config exactly as you have it?

[2016-03-21 20:55] doitliketyler commented on #79
Sure. I'll do my best. I'm running 5 Spigot 1.9 servers on a Bungeecord network. WooMinecraft is only running on my lobby server.

Startup console log: http://pastebin.com/BwUf2i6w
WooMinecraft config: http://pastebin.com/5XrkVwEK
Plugin List: http://pastebin.com/CtMEky10

[2016-03-21 22:46] JayWood commented on #79
Your config looks fine and it looks like the error we got back from your server wasn't handled. SO with that being said, this is definitely a bug, however, still unsure if it's 1.9 related or not.

For sanity's sake, would you mind wrapping your URL in double quotes in the config and giving it a go again?

[2016-03-21 22:57] doitliketyler commented on #79
Alright, I added the double quotes to the URL and that fixed the command error but when purchasing a package the commands are still not forwarding to the server. I just quadrupled check to ensure my game key was matching as well. Here is a screenshot of the test product I set up:

http://imgur.com/UghnN8a

I'm really hoping that I missed something blatantly obvious.

[2016-03-21 23:31] TekkitCommando commented on #79
@JayWood Good news buddy, I got a spring break :D Time to destroy these bugs.

[2016-03-21 23:33] TekkitCommando commented on #79
@JayWood A little off topic but my PHP courses are going great, got 100% on all my quizzes and I am working on a CMS as my end of course project.

[2016-03-22 00:29] JayWood commented on #79
@doitliketyler great, since that fixed the error, now the only thing left is to figure out the order issue. Which, thankfully MIGHT be fixed by setting the order to `completed`.

In another issue a week or so ago, a user suggested ticking the 'downloadable' checkbox for a product and try to re-purchase it.  Would you care to try that?

[2016-03-22 00:38] doitliketyler commented on #79
Just tried both and unfortunately still no commands are being forwarded.

[2016-03-22 00:47] JayWood commented on #79
Okay well I feel like we're super close, would you care to provide a copy of your log right after you run the command ( a new log )

[2016-03-22 00:50] doitliketyler commented on #79
Sure. It simply says:

`21.03 20:49:51 [Server] INFO [WooMinecraft] No donations for online users.
21.03 20:49:50 [Server] INFO doitliketyler issued server command: /woo check`

[2016-03-22 00:51] JayWood commented on #79
So, no error, which is good, okay give me a few I want to try something

[2016-03-22 01:06] JayWood commented on #79
Well good news is, I can get a result, so the order is definitely there. Using my nifty little program, this is what the java plugin SHOULD see ( pending deliveries ):

![45ece303af976ee92490110852940887](https://cloud.githubusercontent.com/assets/2303074/13939029/60a1b358-efa7-11e5-8787-ec092c3a9c69.png)

However, @TekkitCommando [THIS if statement](https://github.com/WooMinecraft/WooMinecraft/bl

[2016-03-22 01:08] doitliketyler commented on #79
I am indeed running the latest version of Wordpress.

[2016-03-22 01:11] TekkitCommando commented on #79
If the check function is being called the only way that if statement wouldn't be ran is if there is an error in it but if there was, the plugin should have had other problems even when it was being compiled. Basically the Java code must be always seeing it as false. I will work with the check function and get back to you :)

[2016-03-22 01:25] TekkitCommando commented on #79
@JayWood Do you think Cache data of some kind is causing problems, about 200 people have downloaded WooMinecraft from Bukkit/Spigot and only a few have problems or maybe they just don't post an issue, might be handy to code metrics for the plugin.

[2016-03-22 01:26] TekkitCommando commented on #79
So we can see online servers that are using the plugin

[2016-03-22 01:28] TekkitCommando commented on #79
Either it's cache data or for some reason its just not finding the success boolean to ever be true for some people there's nothing wrong with the code. The only thing I can see that may be a problem is where it says if(null == json) instead of if(json == null) but that's just because I am OCD.

[2016-03-22 01:36] JayWood commented on #79
hehe, well in WordPress we call those Yoda conditionals, and it's a standard, but that wouldn't be the issue since conditionals work both ways.

Also, if that was indeed the cause it would fail before even hitting line 212, where it outputs the string to the log.

I think we need to code in a 'debug' option at this point.  It will help alleviate the back-and-forth between us and the end-user simpl

[2016-03-22 01:37] JayWood commented on #79
@TekkitCommando I think I'll go ahead and get started on the debug flag, I have an idea where to implement all of them.

[2016-03-22 01:43] TekkitCommando commented on #79
@JayWood Ok, post if you need assistance, I am just reading the PHP that makes up the WP plugin so I can get a feel of your wizardry since I am new to PHP and have never coded any WP plugins haha

[2016-03-22 02:10] JayWood commented on #79
@doitliketyler Give this jar file a go, and let me get a copy of that log after the command is ran, a fresh jar just for you :smile:

Before you install it, go into the config and add this line
[code]

This will turn on debugging for the plugin.

[WooMinecraft-1.0.5-RC1.jar.zip](https://github.com/WooMinecraft/WooMinecraft/files/183410/WooMinecraft-1.0.5-RC1.jar.zip)

[2016-03-22 02:12] TekkitCommando commented on #79
If this fixes his problem then I will add the jar to the Spigot and Bukkit sites.

[2016-03-22 02:13] JayWood commented on #79
@TekkitCommando wait until I make an 'official' release via github, I have more things I want to add :smile: and this won't `fix` the issue, it will merely give me more information.

[2016-03-22 02:14] TekkitCommando commented on #79
Idk, stranger things have happened but alright haha

[2016-03-22 02:18] doitliketyler commented on #79
Here ya go: http://pastebin.com/ft6D9AKg

[2016-03-22 02:22] TekkitCommando commented on #79
It's always the names

[2016-03-22 02:29] JayWood commented on #79
@TekkitCommando if you look at that log, you'll see the same broken URL `http://www.curiocore.comoo_minecraft=check&key=d9a4813b1a5d4b27ae5068d8bf60248c`

Take a look tat Connection in the construct line 32, is this not a safe way to do this?
`url_path + "?woo_minecraft=check&key=" + key` It's basic concatiation so I'm not sure of the issue here. The ONLY reason we'd get code 7 ( this error ) is i

[2016-03-22 02:31] JayWood commented on #79
@doitliketyler Just one more thing my friend and we should be able to take it from here. Would you care to uninstall your version of the WordPress plugin and install this one? https://github.com/WooMinecraft/woominecraft-wp/archive/dev.zip

[2016-03-22 02:33] JayWood commented on #79
fingers crossed - it's a java quick-win by just encoding the URL

[2016-03-22 02:37] TekkitCommando commented on #79
@JayWood the concatenation of the URL should be fine and it's pretty commonly used. And yes as long as proper data is sent there should no problems.

[2016-03-22 02:40] TekkitCommando commented on #79
I'm not sure why his log says the url is missing the ?w unless in the concatenation either you I was typing to fast when doing something and mistyped.

[2016-03-22 02:42] JayWood commented on #79
Nope, def wasn't me, tested before I created the jar, I got a full url :)

[2016-03-22 02:45] doitliketyler commented on #79
Voila http://pastebin.com/kc6stUTs

[2016-03-22 02:51] JayWood commented on #79
@doitliketyler yep, names isn't getting $_POST'd @TekkitCommando that's where we need to start :cry: thanks for the help

[2016-03-22 03:12] TekkitCommando commented on #79
@JayWood have you got if(isset($_POST['whatevs'])) and if it returns false can echo a message? Might be a good place to start?

[2016-03-22 03:12] doitliketyler commented on #79
No problem

[2016-03-22 03:31] JayWood commented on #79
@TekkitCommando $_REQUEST is a combination of $_GET and $_POST parameters in PHP, which is where [this snippet](https://github.com/WooMinecraft/woominecraft-wp/blob/dev/functions.php#L261) comes in handy.

It returns all $_POST and $_GET params in the debug so we got this back from @doitliketyler :
[code]

Notice the lack of the `names` key under `request_data` - however, on MY server, that's not

[2016-03-22 03:33] JayWood commented on #79
@doitliketyler one more question, did you have more than one player on? If so, I MIGHT know what caused it?

[2016-03-22 03:37] TekkitCommando commented on #79
@JayWood I see, you learn something new everyday :+1:

[2016-03-22 03:38] doitliketyler commented on #79
I was the only player on the server.

[2016-03-22 03:40] JayWood commented on #79
@doitliketyler okay thanks man - It's getting late here, so I'm gonna crash for the night, but I'll look more into this tomorrow. **hopefully** you're available tomorrow to do more testing if possible

[2016-03-22 03:42] doitliketyler commented on #79
I'm a freelance developer so unless I get a project suddenly I should be around.

[2016-03-22 03:42] TekkitCommando commented on #79
@JayWood looking at the code on github I see no problem, though connections to web based data in Java has always been one of my weaker abilities. I am off my computer tonight but I can definitely mess with the code in my ide first thing in the morning.

[2016-03-22 20:42] JayWood commented on #79
@TekkitCommando I'm going to look into different methods of posting data via Java, I think the posting method is screwy, while it works for some, it obviously doesn't for others.

Was looking at some examples of apache's HttpPost class here: http://www.programcreek.com/java-api-examples/org.apache.http.client.methods.HttpPost looks promising and WAY easier to use, but we'd have to include the libr

[2016-03-23 01:56] JayWood commented on #71
Closing this out as we solved the issue in #79 of the HTTP error by enclosing the URL in the config in double quotes.

[2016-03-23 01:56] #71 closed

[2016-03-23 02:58] TekkitCommando commented on #79
@JayWood Ok sorry didn't reply earlier just got access to a computer. We may need to get our libraries in a maven repo so we can easily include the dependencies.

[2016-03-23 15:50] JayWood commented on #79
Not necessarily, we aren't really making libs ( aside from one or two files, connections and I believe another ) - and I'm not sure one file really warrants a full repo unless of course our java code was made with an API in mind ( where other users could hook into it ).

However, I found this nifty thing really late last night - basically it uses maven to include libs at runtime [Maven Shade](http

[2016-03-23 16:36] TekkitCommando commented on #79
@JayWood Alright worth a try

[2016-03-27 17:49] NHO123 opened #80 "da language"
Hello,
Fine project.

I would like to provide Danish language file. any instatructions on how to do that ?

Thanks

[2016-03-27 23:30] JayWood commented on #80
Language files are located here: https://github.com/WooMinecraft/WooMinecraft/tree/master/src/main/resources/lang

You can fork the project, and make a pull request .

[2016-03-28 01:35] morgan2233 opened #81 "Timing"
Hello

Is there away to so that when they pay it can do a command in a set amount of time so like i buy it 30 days later it does another command so you can set like VIP for 1 mouth

[2016-03-28 02:31] JayWood commented on #81
Currently there is no way to do timed commands.  However [PermissionEx](http://dev.bukkit.org/bukkit-plugins/permissionsex/) has that ability, you could setup a ranking system, etc whereas during a certain time frame a user is allowed to play, but afterwards, they're privileges are revoked ( breaking blocks, interacting etc... )

[2016-03-28 15:58] Warfacenl opened #82 "Getting to much items after ordering."
Hello, i am trying to get ur plugin working with my website, i am getting this error in my Multicraft console: Latest version 1.9 spigot

[WooMinecraft] A JSONObject text must begin with '{' at 2 [character 3 line 1]

I have put this in my Product: http://prntscr.com/al5byq

[2016-03-28 18:15] TekkitCommando commented on #82
We have gotten this issue before @JayWood is working on an update to the Java side of WooMinecraft.

[2016-03-28 18:22] Warfacenl commented on #82
Ok i fixed that problem i forgot to change the config in the server:

`# Set this to the desired language file you wish to load.
#
# If your l10n is not available but one is that you know how to speak,consider
# contributing to this plugin at https://github.com/WooMinecraft/WooMinecraft/
lang: nl

# This is how often, in seconds, the server will contact your WordPress installation
# to see if ther

[2016-03-28 19:29] Warfacenl commented on #82
OK so the next thing i have the donate done after some struggeling, now it is giving the items but only to the owner after a server restart and hes doing it a few times if only 1 donation came in. Is there a premission error?

[2016-03-28 20:52] JayWood commented on #82
@Warfacenl not entirely sure why you would get more than one delivery.  However I haven't tested the 'nl' language for donations. If the QTY of the order was set to 6 ( ie bought 6 items ) then yes, you would get the command 6 times.

If that is not the case, we will need to look deeper into the code and will need screenshots to accompany this bug. So, if you can take screenshots of EVERY screen t

[2016-03-28 23:33] Warfacenl commented on #82
Let me do that tomorrow, maybe u know this already?

**When i have my own name in the order i get a popup in chrome **
All Donations for thos order have been resent

Going to other user i get nothing
- can do /woo check in-game, my char gets it only

[2016-03-29 23:56] Warfacenl commented on #82
Because of my work i had only a few minutes of checking i made a small video where i show that it isnt working properly  https://youtu.be/gqVJKgkhR-M

[2016-03-30 01:17] JayWood commented on #82
Great, just what I needed to test this myself. Would you also care to screenshot the commands you're running for the product? Which includes general and variable commands if you wouldn't mind.

I should have time this weekend to test this, as well as a few other bugs.

[2016-03-30 14:11] Warfacenl commented on #82
Can u tell me what u mean with commands? Srry I am totally new in this my little brother knows everything but he is on holiday

[2016-03-30 14:58] TekkitCommando commented on #82
The commands sent when someone buys the package

[2016-03-30 17:19] JayWood commented on #82
@Warfacenl Edit the product the user is purchasing in the video, then below you should see something similar to these images: https://wordpress.org/plugins/woominecraft/screenshots/

I need that screenshot of the commands.

[2016-03-30 23:03] Warfacenl commented on #82
Oke, i did add a variation "test command for 1 year" uhm ordered the same item for both accounts at same time: this is what i get in the console

[01:00:30 ERROR]: [WooMinecraft] No results for the following players: WARFACENL, Pietertj33
[01:00:40 INFO]: [WooMinecraft] Donations updated.
[01:00:41 INFO]: Given [Diamond] * 1 to WARFACENL
[01:00:41 INFO]: Unknown command. Type "/help" for help.
[01

[2016-04-04 14:02] JayWood commented on #82
@Warfacenl - Try out the latest release of the WP version ( if you don't already have it updated ) - https://github.com/WooMinecraft/woominecraft-wp/releases/tag/1.0.4

[2016-04-04 17:23] Hoki-gcav commented on #82
I would like to also state that this is happening to me, and I don't want to move to buycraft after the work i put into that woo commerce store ._.

The item or rank is given to my players 2-4 times or so before finally stopping, sometimes days after the actual purchase. I have no idea why this is happening, config seems to be all in check after I made sure it was air tight after checking it over

[2016-04-04 18:50] TekkitCommando commented on #82
@Hoki-gcav  @Warfacenl WooMinecraft for WordPress was updated!

[2016-04-04 21:14] JayWood commented on #82
The issue of 'giving items, until finally stopping' was solved in the latest commit on WooMinecraft here: WooMinecraft/woominecraft-wp#04576ef91ebf2b35f94693f8ab23dc793f585535

The problem was the java code was sending the data as a string, and not an array.  However, the array datatype was assumed on the WordPress side.  I updated the code to explode and sanitize the string before working with it

[2016-04-04 21:33] Hoki-gcav commented on #82
Yes, thanks i just updated. :)

[2016-04-04 21:42] Warfacenl commented on #82
Thank you, gonna test it after my work.

[2016-04-04 23:58] Hoki-gcav commented on #82
Ok, it did it again just got a guy who joined and got a weapon he bought a few days back, i will see if it continues.

[2016-04-05 00:11] JayWood commented on #82
@Hoki-gcav chances are that was due to the faulty updates - if you run `/woo check` again, you should see that it's fine. If not, post a copy of your log from when the command was ran.

[2016-04-05 07:59] Hoki-gcav commented on #82
Yeah, ok, i will keep you posted if it happens again with an item that has already been processed after the update.

[2016-04-05 12:42] Hoki-gcav commented on #82
Ok it was a little different this time, a guy bought like 50 dollars worth of items and all the commands executed at the same time but one of the commands ran twice with the others and he ended up getting 2 of one item by mistake.

[2016-04-05 12:48] Hoki-gcav commented on #82
Also something a little bit off topic, on the WooCommerce email's, is there a way I can add the username field anywhere, like a placeholder? I want to see the username of the person who donates so I can go on and thank them without having to sign into my site and look up the order each time.

[2016-04-05 12:50] TekkitCommando commented on #82
WooCommerce email placeholders hmmm @JayWood might know. As far as that bug working except for one item. I woudn't know the cause of that :P I can't look into it because I am class and I will have class till May 29th but after that I will be working on this again.

[2016-04-05 12:55] Hoki-gcav commented on #82
Alright thanks ;3

[2016-04-05 13:53] Hoki-gcav commented on #82
Well when you are free, your welcome to come on my server and I can give you any and all resources you would need to see what is going wrong.

[2016-04-05 18:23] JayWood commented on #82
@Hoki-gcav Yea I can actually add that to your email for you via the code :) - Add that as an issue here: https://github.com/WooMinecraft/woominecraft-wp/issues and I'll tag it for the next release.

As for looking into the 'one item' issue, it's possible the command saved twice, or that the item count for that item was off. However, the only way for me to know is to get complete access to your se

[2016-04-05 20:34] Hoki-gcav commented on #82
Yea that would be fine, have no issues with that. I make backups of everything and I change all passwords weekly so no risk on my end. Everything is hosted on the same server so giving you access to all that is easy. I got PHPMyAdmin running if that would be easier for you when looking at the mySQL but i'd have to add your ip to the apache whitelist.

[2016-04-06 02:47] JayWood commented on #82
@Hoki-gcav Sent you a skype request, if an email is required I can send you one from my personal ( non gmail ) email. But I'm sure we can has all the details over skype.

I'm usually available anytime after 5pm EST ( UTC -5 ) as I work 9-5, Thursday's I'm usually offline all day.

[2016-04-07 04:37] doitliketyler commented on #79
Hey guys. Just curious to know if there was any progress here. I noticed the new release on Wordpess and updated it but my issue still persists.

[2016-04-07 13:31] JayWood commented on #79
@doitliketyler Not as of late - been really busy myself lately. However I'd LOVE to get this fixed, or at the very least figure out the exact cause.

We know that the actual names isn't being posted to your server, and I know that's where to start. What I would 'like' to do is get access to your Minecraft and Wordpress servers via FTP so I can upload/download files as needed and be able to debug t

[2016-04-07 13:34] JayWood commented on #82
@Hoki-gcav any updates on this? Was it a config issue for that item's commands?

[2016-04-11 19:11] Sega0795 opened #83 "avoid use / woo check"
Hey , look install the plugin and everything works great, but it would be one option to avoid having to use the / woo check

[2016-04-11 19:22] JayWood commented on #83
You don't `have` to use woo check, it's actually setup on a timer, I believe 15 minutes is the default?

[2016-04-12 14:58] Sega0795 commented on #83
Yes, you're right , yesterday I found out and I forget warn him around here, but thanks anyway :)

[2016-04-12 15:06] TekkitCommando commented on #83
:+1:

[2016-04-12 15:06] #83 closed

[2016-05-07 05:55] JayWood commented on #82
Closing issue, no response in 30 days.

[2016-05-07 05:55] #82 closed

[2016-05-07 05:56] #81 closed

[2016-05-07 05:56] #80 closed

[2016-05-23 02:07] TekkitCommando opened #84 "Donation GUI and Signs"
@JayWood School is almost over so I am back once more! Anyways I know donation signs and gui's aren't added so I will do that and push to dev-nightly : )

[2016-05-25 03:21] #79 closed

[2016-05-27 01:00] #84 closed

[2016-06-08 21:47] NimaGame opened #85 "an internal error occurred while attempting to perform this command"
Hi,
This is a nice plugin!
And I really love it!
But I can't use it on my server.
Please update it to 1.9 faster!
When I use /woo check it show me this error : internal error occurred while attempting to perform this command
Please help me!
thank you.

[2016-06-08 21:57] TekkitCommando commented on #85
Woo check has nothing to do with bukkit really. Please a link to your config by pasting the config with pastebin/pastie.

[2016-06-08 22:15] NimaGame commented on #85
http://pastebin.com/2i6gd3ba

[2016-06-09 00:14] TekkitCommando commented on #85
Have you added the key to wordpress panel?

[2016-06-09 00:15] JayWood commented on #85
WMC is currently not built against 1.9 - so if you're trying to run it in 1.9, there is no 'bug' aside from the fact it's not built to run in 1.9

If, however, this bug emerged from 1.8, then yea this is a bug.

[2016-06-09 00:41] JayWood commented on #85
@NimaGame

Untested 1.9.4 build, have at it, report bugs, etc... just make sure to include any logs.

[WooMinecraft-Bukkit-1.9.4R0.1-1.0.4-SNAPSHOT.zip](https://github.com/WooMinecraft/WooMinecraft/files/305952/WooMinecraft-Bukkit-1.9.4R0.1-1.0.4-SNAPSHOT.zip)

[2016-06-09 08:56] NimaGame commented on #85
Works fine!
Thank you :+1:

[2016-06-09 12:39] TekkitCommando commented on #85
@JayWood I will update the Bukkit/Spigot repos with that jar and just tag it with snapshot.

[2016-06-09 13:29] NimaGame commented on #85
[WooMinecraft] Cannot open Data Output Stream!
[WooMinecraft] Connection refused

[2016-06-09 13:53] TekkitCommando commented on #85
Connection refused to your WordPress site, right? @JayWood

[2016-06-09 14:57] NimaGame commented on #85
{"success":false,"data":{"msg":"Method or Names parameter was not set.","request_data":{"woo_minecraft":"check","key":"be83bb8262614e1fafbee570bd36f28c"},"code":7}} :-?

[2016-06-09 19:22] TekkitCommando commented on #85
You don't have to hide your key, it doesn't give us access to your server. :P but @JayWood would know the cause of connection refused more then me.

[2016-06-10 00:53] JayWood commented on #85
@NimaGame yea the key is purely so someone can access the list of stored commands, it's really simple to change it of course.

I'm working on some tweaks that would essentially remove that anyhow.

@TekkitCommando this is the exact same issue as another ticket, second offense in fact. For some reason the names isn't posting to his server.

If we can get info on your WordPress server, like what OS

[2016-06-10 09:50] NimaGame commented on #85
To be clear, we are using Debian Wheezy, PHP 5.4 and Nginx 1.2.1. There are online players in the server when we test this

[2016-06-10 14:37] JayWood commented on #85
@NimaGame yep, confirmed bug.

@TekkitCommando modifications will need to be made ( which I think we're already doing ) in the Java side of things to not 'post' names to the server.  Instead, on the WordPress side we'll be simply outputting a feed, instead.

This willl fix this issue.  I'm wondering if that's something we can just put ahead of anything else we got going on, since I believe that wo

[2016-06-10 16:50] TekkitCommando commented on #85
@JayWood Yeah I think this is a priority. However I know PHP now, still not sure how to make WordPress plugins though I should be able to learn pretty quickly.

Hear me out here. Isn't it possible to do what we have been doing but in a different way. Add all commands needing to be ran to its own database and then those commands can be sent when the order is confirmed ( which I hope he did check if

[2016-06-10 18:03] JayWood commented on #85
The amount of read/write operations would be significantly higher if we were to go down that route, add to that the fact that the commands would be essentially stored in two locations ( wp database, and java memory/db ).

Kind of inefficient no?  A solution to this single bug would be to provide a json feed ( which we already do ) but remove the `$_POST` requirement.  Right now WMC is actually sen

[2016-06-10 18:48] TekkitCommando commented on #85
Ah ok. Gotcha.

[2016-06-11 07:43] ggamehdtv opened #86 "Unknown command ingame while typing command of this plugin."
I will get this error while starting the server on 1.8.8 spigot version: http://pastie.org/10872222
I tried it also on a 1.9.2 server and 1.9.4 server but they all aren't working.

When I start the server it says unknown command when doing /woo register

[2016-06-11 12:48] TekkitCommando commented on #86
Your Java is too low. Please update to Java 8 or compile the source code for Java 7 if possible.

[2016-06-11 12:50] ggamehdtv commented on #86
hmm I will try it asap. Thanks for the fast respond :)

[2016-06-11 12:56] TekkitCommando commented on #86
Np :)

[2016-06-12 11:30] TekkitCommando opened #87 "Multiple server support"
Once more bugs are fixed we need to start working on adding support for multiple servers to be added and sending donations to multiple servers.

[2016-06-12 11:32] TekkitCommando commented on #87
We technically can do this but it is not possible to send certain commands to one server and different commands to another.

[2016-06-13 03:33] JayWood commented on #87
@TekkitCommando I have a solution for this from a commissioned project I'm already working on :)

[2016-06-13 09:28] ggamehdtv commented on #86
It worked! You need to use Java 8 maybe an idea to let it know on the download page of the plugin. So people know it :).

[2016-06-13 09:28] #86 closed

[2016-06-13 11:13] TekkitCommando commented on #87
Awesome :)

[2016-06-13 11:14] TekkitCommando commented on #86
Yeah I will have to do that.

[2016-06-13 14:41] JayWood opened #88 "Refactor all Connections to use HTTPClient"
Will take most of the guess work out of working with HTTP connections from a developer standpoint.

https://hc.apache.org/httpcomponents-client-ga/index.html
http://hc.apache.org/httpcomponents-client-ga/httpclient/apidocs/org/apache/http/client/methods/HttpPost.html

[2016-06-13 15:01] JayWood commented on #85
@TekkitCommando was looking into this in the AM today.  I think I know why this is happening.  Looking into Java Thread Safety here - http://stackoverflow.com/questions/6324085/what-is-thread-safe-in-java
http://stackoverflow.com/questions/3272681/httpurlconnection-thread-safety

Since in the connection class the input and output streams are separated, it's possible they're both on different memor

[2016-06-13 16:33] JayWood commented on #85
For reference, HTTP docs - https://hc.apache.org/httpcomponents-core-ga/examples.html

[2016-06-13 21:05] JayWood opened #89 "Spigot/Bukkit Site Creds"
@TekkitCommando I need to get these just in case you're offline for an extended amount of time and need to update the accounts. If you can simply add an email address to it that'll work to so I don't have to have your password?

[2016-06-13 21:19] TekkitCommando commented on #89
I got you in the Spigot site. I think I forgot Bukkit, I will do that. I have your real name on Spigot, Isn't it like Phyrax your username? It has been a while since I first met you and I watched that video of the old WooMinecraft on your page for 1.6.4 version.

[2016-06-13 21:21] TekkitCommando commented on #85
Ok. Is it better for me to wait and see what you push or do you have something you want me to work on that won't mess with your flow :P

[2016-06-13 21:43] TekkitCommando commented on #60
@JayWood This was fixed right?

[2016-06-13 22:31] JayWood commented on #60
No, purely added a todo to look into it.

[2016-06-13 22:36] JayWood commented on #89
Correct, my Curse ID is `phyrax` all lowercase. As is my Spigot username.

Could you link both items here ( to the WMC downloads )?

[2016-06-13 22:39] JayWood commented on #85
@TekkitCommando feel free to start on anything you want.  Just don't have much time lately, have that comissioned project to work on first.

It'll help get me up to speed down the road if you reference tickets you're working on in your commits, ie, adding things like ` - ref #88` for example.

[2016-06-13 23:26] TekkitCommando commented on #60
@JayWood 0-0 Ok I will fix it real quick.

[2016-06-13 23:27] TekkitCommando commented on #89
You want me to link the download button to the downloads on Github?

[2016-06-13 23:28] TekkitCommando commented on #85
Ok :)

[2016-06-13 23:31] JayWood commented on #89
Would make it easier to manage that way? Like link it to the 'latest release' or something?

[2016-06-13 23:35] TekkitCommando commented on #89
It's not possible on the Bukkit Page but it is on the Spigot page and it would be easier to manage.

[2016-06-13 23:37] TekkitCommando commented on #89
Little off topic but what is WhitelistReport for? You got a server?

[2016-06-13 23:37] JayWood commented on #89
Yea http://agedcraft.net it's just a script I built on a whim to output players and when they were last online.

[2016-06-13 23:38] JayWood commented on #89
Got tired of typing `/seen <player>`

[2016-06-13 23:40] TekkitCommando commented on #89
@JayWood I don't see how you can stand the thing return false and return the command you just typed in chat :P I usually always make the command return true lol

[2016-06-13 23:42] TekkitCommando commented on #89
Mind if I apply for this server? :P

[2016-06-13 23:44] JayWood commented on #89
It's open to anyone :smile:

[2016-06-13 23:44] JayWood commented on #89
By that I mean applications are open lol

[2016-06-13 23:45] TekkitCommando commented on #89
@JayWood Lol alright. I will apply. :smile:

[2016-06-13 23:50] TekkitCommando commented on #89
@JayWood Is it running Infinity Evolved?

[2016-06-14 00:08] TekkitCommando commented on #89
You should put that WhiteList report plugin on Bukkit if you are feeling it. See if you can pick up a few downloads.

[2016-06-14 00:15] JayWood commented on #89
Yea it's running infinity evolved, and I had thought about putting that on bukkit/spigot forums

[2016-06-14 00:37] TekkitCommando commented on #89
Alright.

[2016-06-17 19:00] JayWood commented on #89
@TekkitCommando Any updates on this?

[2016-06-17 19:03] JayWood opened #90 "WMC Donations?!"
@TekkitCommando this isn't the first time I've been asked this question.  A couple people have wanted to donate to the project in some fashion.

How would you like to handle such a thing? Maybe a page on both our sites which has both our paypal donation bars etc...? As well as links to both sites in the repos?

[2016-06-17 21:35] TekkitCommando commented on #90
Yeah we can do that. I am with my family right now but if you want you can send me your PayPal email and I can get both our donation links added to the download pages on bukkit and spigot.

[2016-06-17 21:36] TekkitCommando commented on #89
Yeah I added your username to the contributor thing on spigot and i meant to ask you if you had an account on bukkit dev?

[2016-06-19 15:32] NimaGame commented on #85
@TekkitCommando  @JayWood
Hello guys, how are you?
Did you fixed the problem?

[2016-06-19 20:46] TekkitCommando commented on #85
@NimaGame Jay has a brain child that he is nurturing to solve the issues rn :P

[2016-06-19 23:40] JayWood commented on #85
@NimaGame I've had some pre-existing engagements I had to settle before I began working on this. I'm convinced that the issue is the mult-threading in java. Life does tend to get in the way of side projects sometimes, my apologies.

I'll notify you as soon as I fix the issue.

[2016-06-20 13:56] ggamehdtv opened #91 "Not doing commands ingame while bought a package!"
Hello,

I installed the plugin on the server (java8) and on wordpress I created the key ingame and copied it to woominecraft in wordpress but when I buy the package I won't get the command which has been added top the product ingame. And there are no errors in the console for this.

Command I use it in the text field:
![image](https://cloud.githubusercontent.com/assets/19870029/16196705/57e6db68-3

[2016-06-20 14:16] JayWood opened #92 "Label Cleanup"
@TekkitCommando - Hope you don't mind, cleaned up a few labels and merged some into one. We just had way too many.

Close when read :)

[2016-06-20 14:46] ggamehdtv commented on #91
@JayWood Which settings do you need exactly

[2016-06-20 15:06] JayWood commented on #88
See WooMinecraft/woominecraft-wp#4 for JSON structure reference

[2016-06-20 16:57] JayWood commented on #91
A copy/screenshot of the plugin config from your MC server as well as the username ( exact casing ) of the user who you purchased items for.

[2016-06-20 20:11] ggamehdtv commented on #91
@JayWood This is the config of the plugin:
![image](https://cloud.githubusercontent.com/assets/19870029/16208726/da3d0aae-3733-11e6-9172-ed3f771109c8.png)

This is the lang file:
![image](https://cloud.githubusercontent.com/assets/19870029/16208743/e60eff7c-3733-11e6-868e-d940b32c3f91.png)

Username who purchased the items: ggamehdtv

[2016-06-21 00:18] JayWood commented on #91
@ggamehdtv looks like your config got wiped, possibly due to bug #60 - save your key, then delete the config and restart the server and put the key in manually ( by editing the yml file )

[2016-06-21 03:15] TekkitCommando commented on #91
@JayWood Why do we have a Dev-Reply tag?

[2016-06-21 03:16] TekkitCommando commented on #92
Ok :D

[2016-06-21 03:16] #92 closed

[2016-06-21 03:16] TekkitCommando commented on #90
Ok.

[2016-06-21 05:15] JayWood commented on #91
It' actually pointless now that I think about it.  On some trac systems I watch it's used to signify that the task was replied to by a dev, mainly so ppl don't think we're afking on responses.

WMC just isn't large enough to validate the use of such a tag, so we could remove it.

[2016-06-21 06:17] ggamehdtv commented on #91
Can you send me a screenshot from a working config so I know how it looks like?

[2016-06-22 00:56] JayWood commented on #91
@ggamehdtv
[code]

[2016-06-22 13:09] JayWood commented on #89
@TekkitCommando My name on bukkit is phyrax which is my curse username. But bukkit is so screwed up sometimes.

[2016-06-22 13:32] TekkitCommando commented on #89
Yeah I agree xD

[2016-06-22 13:34] TekkitCommando commented on #89
You are added to both sites.

[2016-06-24 00:48] JayWood commented on #60
@TekkitCommando - this is now fixed.  Though has yet to be merged into master.

[2016-06-24 00:53] TekkitCommando commented on #60
@JayWood I ended up changing the code that should have fixed it but my freakin git would not work for the life of me. :P

[2016-06-24 00:57] JayWood commented on #60
@TekkitCommando if that happens again it'd be great if you can at least gist up the file and link it in the task, I'd be glad to copy it in.  It's better than letting tasks go stagnant for months I'd say.

[2016-06-24 01:27] TekkitCommando commented on #60
No it was like 3 days ago. My git was working a couple weeks ago.

[2016-06-24 01:38] TekkitCommando commented on #60
It's working again now.

[2016-06-24 12:47] TekkitCommando opened #93 "What you want me to do?"
I read and replied to your Spigot PM. What you want me to do friend? :) I will start work on it today.

[2016-06-24 18:47] JayWood commented on #93
You had some pretty good ideas for #63 #84 would be pretty sweet to see how you do that.  I have little experience with GUI's and signs so... kind of out of my range.

[2016-06-24 19:18] TekkitCommando commented on #93
Alright cool. I will get to work with that.

[2016-06-24 19:58] TekkitCommando commented on #93
@JayWood I have done these GUI's and signs so many times this will be easy but we need to be saving the product name to a json file as well so that the signs and gui icons have something to pull data from.

[2016-06-24 21:54] JayWood commented on #93
@TekkitCommando could we make it dynamic? Ie, do a HTTP Get request to the wordpress API for the product?

The reason I ask is that in WordPress now there's a built in JSON API and WooCommerce also has support for products ( if enabled in the admin ). You can see the different routes available here: http://agedcraft.net/wp-json/wc/v1

Currently the products endpoint requires an oauth setup, but te

[2016-06-24 23:00] TekkitCommando commented on #93
Alright yeah. As long as I can pull the product names and save them to a variable(s) and then be able to translate the product name to a link on ItemClick or onSignClick. I am not sure how to make a get request to the WordPress API for the product names though. Do you have any documentation stuff I can read?

[2016-06-25 00:30] JayWood commented on #93
https://docs.woothemes.com/document/woocommerce-rest-api/

[2016-06-25 00:54] TekkitCommando commented on #93
Will that have any api example?

[2016-06-25 17:56] TekkitCommando commented on #93
@JayWood Check spigot I sent you sort of a "business inquiry" or "partnering offer" that I want you to read.

[2016-06-25 18:40] TekkitCommando commented on #93
@JayWood Added the event handler and gui code. Kept the code to register the event commented out though so the plugin doesn't throw errors when compiled. We need to think of a way to make the amount of icons based on the amount of products but you can dynamically name variables in Java last I checked but there needs to be a way to do it.

[2016-06-26 03:44] #89 closed

[2016-06-26 03:44] #90 closed

[2016-06-26 03:44] #91 closed

[2016-06-26 03:44] #93 closed

[2016-06-26 03:45] JayWood commented on #63
Putting this on the back-burner for now.

[2016-06-26 03:45] #63 closed

[2016-06-26 03:45] JayWood commented on #34
Slated for a later release.

[2016-06-26 03:45] #34 closed

[2016-06-26 03:47] JayWood commented on #85
#88 is considered fixed, and therefore this will be once the release is out.

[2016-06-26 03:47] JayWood commented on #87
Slating this for a later release.

[2016-06-26 03:47] #87 closed

[2016-06-26 15:43] #60 closed

[2016-06-26 15:43] #48 closed

[2016-06-26 15:43] #85 closed

[2016-06-26 15:43] #88 closed

[2016-06-27 04:12] FiberSprite opened #94 "WooMinecraft Not Showing Up In Wordpress"
Hi, WooMinecraft options will not show up in wordpress after i have put the key in wordpress. Cant seem to figure it out currently and been messing with it for a hour or so.

[2016-06-27 05:03] JayWood commented on #94
Make sure the plugin's active first, the latest update changed the function file name which deactivates the plugin.  It's an unfortunate side effect, but had to be done so I can set it up for translations.

If you verify it's active and the options still don't show up, can you elaborate on what you mean by 'options'? I'm a developer so it has a ton of meanings to me :smile: like what screen you're

[2016-06-27 07:32] FiberSprite commented on #94
![image](https://cloud.githubusercontent.com/assets/5142586/16371954/63efbfa0-3c0f-11e6-9786-a66ff44dd32f.png)

[2016-06-27 12:48] JayWood commented on #94
Looking at your menu on the left, you seem to not have [WooCommerce](https://wordpress.org/plugins/woocommerce/) installed or setup. It's what this plugin is based upon.

That plugin is what manages your products and commands, not this options page.  This options page is purely for the server key.

[2016-06-28 13:59] JayWood commented on #94
Closing, feel free to re-open should the need arise.

[2016-06-28 13:59] #94 closed

[2016-06-28 14:00] JayWood opened #95 "Commands w/ Quotes do not run"
Cross post from WooMinecraft/woominecraft-wp#16 - Issue is either Java or WordPress, need to test.

[2016-07-01 04:41] Yaukz opened #96 "/woo check don't works and config bug"
Hello,

First of all, sorry for the bad english, it's not my main language.
So, i have a bug. When i type "/woo register", i get my key and then my config resets to this: http://prntscr.com/bnc8xy.
Another bug is that some items take a lot of time to get delivered (like 1 hour or more) or don't even get delivered, because this i think that /woo check is not working.

Some more infos:
- I've follow

[2016-07-01 04:55] JayWood commented on #96
@Yaukz your english is legible, so no worries.

A couple questions:
* What versions of WMC are you using, both for WordPress and the Minecraft Server? ( The actual version numbers )
* What version of Java are you using?
* Can you provide a full log with `update_interval` set to 5
* Can you provide a full link ( and key ) to your site, as well as a username who actually purchased something?

I'm no

[2016-07-01 12:21] Yaukz commented on #96
Hey,

Versions:
- Wordpress: 4.5.3
- WooMinecraft 1.06 (1.8.8 Jar)
- WooCommerce: 2.6.2

Here's the log with update_interval 5: http://pastebin.com/Nf7mPCQG - In this log, i've received the items that i bough last night, with a 8 hours delay, there's no error on the console...

_Sorry for the misunderstanding, with "WooCommerce installation" i mean my "Wordpress installation"._

Here's the site li

[2016-07-01 13:15] JayWood commented on #96
@Yaukz

Have a look at http://absolutecraft.com.br/loja/loja/?key=254110f7a7614167af6e901398f4b897 notice there are no pending commands.

The delay could be due to WooCommerce not 'completeing' the process until some sort of cron job is ran.

According to WC Documentation

Without an order being complete, it's never sent to the feed.

So here's a test for you:

1. Purchase an item for Yakuz again

[2016-07-01 13:23] Yaukz commented on #96
Hello,

I already have tried creating a "downloadable package", just for the auto approval, but it takes a lot of time to delivery it too. Already tried to approve it in admin page, takes a while too.

Bough the test package, accepted it on wp-admin and i get this on the key page: "_{"success":true,"data":[]}_".

Something is wrong?

Thanks!

[2016-07-01 13:40] JayWood commented on #96
@Yaukz It sounds like the feed cache isn't busting properly, I'm doing some tests and will get back to you shortly.

[2016-07-01 13:41] Yaukz commented on #96
Maybe it's something with my webhosting?

[2016-07-01 13:43] JayWood commented on #96
The feed is coded to use what's called a 'transient' so basically instead of rebuilding the JSON feed on every request, it caches it for an hour.  This was put in due to large servers with a lot of donations.

However, this transient is meant to be destroyed should an order be saved/updated. If that's not happening that would explain why it's not immediately available.

On the flip side, your host

[2016-07-01 13:45] Yaukz commented on #96
Is there a way for me to remove or "destroy" it? And is there a way to "flush" the transient on my host? Thanks!

[2016-07-01 13:50] JayWood commented on #96
Yea, there's a plugin called Transient Manager on .org you can use, I use it on other projects to check things like this.

https://wordpress.org/plugins/transients-manager/

The transient name you're looking for will be `wmc-transient-command-feed` once that plugin is installed just go to Tools > Transients and delete that one by it's name.

[2016-07-01 13:55] Yaukz commented on #96
Deleting it, the package should arrive? (Sorry, i'm very noob).

[2016-07-01 13:59] JayWood commented on #96
No you're fine - once you deleted that transient look at the feed again and your item/command should show up, if it saved properly.

If not, there's not much more i can do without being on your server ( WordPress ) so I can't really troubleshoot much further :disappointed:

If you're willing to give me access to your test wordpress site that would be tremendously helpful and would speed things up

[2016-07-01 14:35] #96 closed

[2016-07-01 14:58] JayWood opened #97 "Logging - Re-enable logging aside from /woo check"
For now, if the timer is ran, there's no real notification that this is occurring, so it may be beneficial to log this regardless of using `/woo check` or not.

[2016-07-01 15:13] Yaukz opened #98 "[WooMinecraft"
Hello,

Is there a way to chance [WooMinecraft] tag prefix?

Thanks!

[2016-07-01 15:53] JayWood commented on #98
As discussed on skype, this is not currently possible, but will be a great enhancement for next release.

[2016-07-02 00:07] LPGamersRob opened #99 "Constant items given to players"
i have got this working on my server and have setup a test item that uses /say and /give and is ment to give only 64 diamonds and say you bought a thingy once but it is doing it over and over. and it has filled my inv with diamonds in just under 2 hours. also in my console i keep getting 02.07 00:59:25 [Server] WARN [WooMinecraft] A JSONObject text must begin with '{' at 1 [character 2 line 1]

is

[2016-07-02 00:54] JayWood commented on #99
Definitely a bug, but not sure where or how. The last error `[WooMinecraft] A JSONObject text must begin with '{' at 1 [character 2 line 1]` sounds like your WordPress server isn't responding properly.

But, since you are indeed getting diamonds that tells me the error is happening during the second transaction.

WMC does two things, it first reads the JSON feed ( without that commands can't run )

[2016-07-02 00:55] LPGamersRob commented on #99
i have now also learned that if i do /woo check it also makes this happen and if a person has bought more than one item from the shop it gives them every items over and over. and i will pm you my server key over now

[2016-07-02 00:57] JayWood commented on #99
@LPGamersRob if you have a spigot account you can contact me here: https://www.spigotmc.org/members/phyrax.133345/

[2016-07-02 01:06] LPGamersRob commented on #99
i have sent you over my url and key so you can take a look ?

[2016-07-02 01:51] JayWood commented on #99
@LPGamersRob as I suspected, I'm getting an error when POSTing data to the server. There's this nifty thing call POSTman which I can use to send data and test things. The only thing this does is say "hey this order's commands have been sent, remove it from the feed".

However, when I send that request to your server, it responds with an HTTP 503 error. Which usually means your server is freaking o

[2016-07-02 10:04] LPGamersRob commented on #99
Thank you for checking that i have now removed the theme that i was using on my website if that would be any help to you ?, and what i don't understand why the server is still giving out items every 2 mins as i have that set in my config, is there supposed to be some form of protection in the plugin to stop this ?

[2016-07-02 15:59] LPGamersRob commented on #99
just so that you know i have set my wordpress to completely simple. there are no plugins on here at all apart from woocommerse and woocraft and am still getting the problem, Thanks

[2016-07-02 19:18] JayWood commented on #99
The reason items are being given out more than once is due to the fact the Minecraft server cannot POST to your WordPress server to let WordPress know that the orders are delivered.

Without Java telling WordPress " hey I sent this order, remove it from the feed" - basically - you'll get the same commands every time.

What has to be done at this point your web developer or your web host should inv

[2016-07-03 21:32] #99 closed

[2016-07-15 02:54] Yaukz opened #100 "One month Pex groups (VIP-like)"
Hey,

There's a way to give and after X days remove the player from that group?

Thanks! :)

[2016-07-15 03:55] JayWood commented on #100
At this time no, but it is a planned feature.

[2016-07-15 04:22] Yaukz commented on #100
There's something to do with Woo Memberships, maybe?

[2016-07-18 01:36] JayWood commented on #100
I've thought of using WooSubscriptions, but have yet to get my hands on a copy.  It definitely is a planned feature, but no telling how I truely want to handle it yet.

Rather than requiring the user to spend $100+ on another plugin, I would honestly rather code in a 'date range' for a product with start/end commands.  ie. a set of commands to be ran on purchase, and a set of commands to be ran wh

[2016-07-21 19:15] Devillion opened #101 "How do we create an upgrade rank?"
In Buycraft you can set it so they can't upgrade unless they have purchased the required rank first.

Can this be done?

If not this is a major feature as 99% of servers use a ranking system.

[2016-07-21 20:43] JayWood commented on #101
Pex has a ranking system, it's built into the permissions plugin.  Utilizing a ladder system one can set the command of a purchase to `pex user %s promote` and depending on the ladder they're on they'll get promoted.

Currently this plugin makes no attempt to handle 'permissions' or 'ranks'.

[2016-07-25 08:46] Devillion opened #102 "1.10 support?"
I was super excited when I saw this plugin and then I read it's for 1.8.

You guy's going to get this updated for 1.10?

[2016-07-25 16:42] TekkitCommando commented on #102
It should work for 1.10 :)

[2016-07-25 22:23] JayWood commented on #102
@Devillion :scream: where does it say it's not for 1.10?

Check latest releases [here](https://github.com/WooMinecraft/WooMinecraft/releases) for the zip.

The latest release has a zip download which includes jar files from 1.7.10 all the way to 1.10.2 I think.

[2016-07-27 15:58] Devillion commented on #102
Sorry, didn't realize the zip package had 1.10 version in it.

On this page: https://github.com/WooMinecraft/WooMinecraft

It only gives info about this: http://i.imgur.com/riSOR7F.png

Made think it wasn't available for other versions.

[2016-07-28 00:29] TheSodaPopPanda opened #103 "Multi Server Support"
I can't seem to find any multi-server support does your plugin have multi-server support
(if not can you add this or is it to much work)
(if so how would go about setting that up)

[2016-07-28 20:45] JayWood commented on #103
This is actually in progress on the dev branch, keep watching :smile:

[2016-07-29 01:07] TheSodaPopPanda commented on #103
oh... Nice! how is it coming?

[2016-07-29 04:41] JayWood commented on #102
@Devillion OH geeze, I need to fix that then.

As for the chargeback/refunds, yes I hope to do that, but I need to test w/ paypal ( specifically ) to see how WooCommerce handles those. So yea, it's on my radar, just hasn't been a top priority because people typically just insta-ban players who charge back ( historically ).

[2016-07-29 04:41] JayWood commented on #103
It's super close. Luckily the company I work for is giving us a full day to work on 'personal' projects if we want.  So I'm hoping to get more progress on this tomorrow.

[2016-07-29 13:40] JayWood commented on #103
@TheSodaPopPanda - This is what I have so far, now it's a matter of saving the data properly and calling it back in the feed ( when the server requests it ).

![ppsnsm3a9k](https://cloud.githubusercontent.com/assets/2303074/17249908/116c6218-5570-11e6-908e-f95f6e5fc5b5.gif)
Working admin panel options to add/remove servers.

![zk3lbmnrrd](https://cloud.githubusercontent.com/assets/2303074/17249969

[2016-07-29 14:05] TheSodaPopPanda commented on #103
Awesome! looks great can't wait until it's done
(I really did not want to have to use buycraft)

[2016-07-29 14:19] TheSodaPopPanda commented on #103
I should also so.... Thanks! This plugin is really helpful I was really happy when i found it a while back.

[2016-07-29 15:13] Devillion commented on #102
When running a small server it's easy to know who's paypal belongs to which players to be able to ban them, but with 100's of players that's not so easy.

[2016-07-29 16:16] JayWood commented on #103
You can track dev commits here if interested - https://github.com/WooMinecraft/woominecraft-wp/commits/dev

[2016-07-29 19:26] JayWood commented on #103
This is `technically` complete - working on backwards compat fixes now ( migrating old command post meta to new structure ).

Then I have to move to the java side of things to update the 'processedOrders' call to ensure we update orders ONLY by the server key, not just everything.

[2016-07-29 20:27] JayWood commented on #103
Backwards compat fixes are in, need to do some java testing, which will have to wait till this weekend since Java isn't WordPress related :smile:

[2016-07-29 23:21] TheSodaPopPanda commented on #103
Awesome

[2016-07-29 23:25] TheSodaPopPanda commented on #103
I will close the thread but it's been nice to talk you to you

[2016-07-29 23:27] #103 closed

[2016-07-31 03:12] JayWood commented on #103
@TheSodaPopPanda You can feel free to try the pre-alpha here - https://github.com/WooMinecraft/woominecraft-wp/archive/dev.zip

Just make sure you make a backup of the database before you install it. You can use any of the existing jar files in the zip here: https://github.com/WooMinecraft/WooMinecraft/releases/tag/1.0.6

Since all the code is WordPress side, no java update is needed. I've not had

[2016-08-11 22:46] tei06398 opened #104 "WooMinecraft 1.7.10"
Is there any chance you could back-port the plugin to 1.7.10?
I would be highly grateful if you would do that.
-tei06398 (Inferno09)

[2016-08-12 04:55] JayWood commented on #104
WooMinecraft is in fact available from 1.7 - 1.10.2

I've just not had time to update the github readme :smile:

You can download it here from spigot - https://www.spigotmc.org/resources/woominecraft.25517/
Or on the releases page here on Github

[2016-08-12 04:57] tei06398 commented on #104
Thanks! If there are any open positions on the team, I'd be glad to help
out, by the way.
On Fri, Aug 12, 2016 at 12:55 AM JayWood <notifications@github.com> wrote:

[2016-08-13 01:03] JayWood commented on #104
Thanks for the support.  Pull requests to the code base are always welcome :smile:

[2016-08-13 01:04] #104 closed

[2016-08-13 01:05] JayWood opened #105 "Chargeback Commands"
Referencing final comment on #102 - would be nice to have a way to sort of 'auto-handle' charge backs.

[2016-08-13 01:06] JayWood commented on #102
Opened the above ticket, closing this one.

[2016-08-13 01:06] #102 closed

[2016-08-13 01:10] #101 closed

[2016-08-16 03:46] tei06398 opened #106 "Error in 1.0.6"
After issuing command woo check on the game side, I received this error: [23:45:06 WARN]: [WooMinecraft] A JSONObject text must begin with '{' at 1 [character 2 line 1]

[2016-08-16 07:55] tei06398 commented on #106
UPDATE: Happens when any purchase is marked as complete and received by the server.

[2016-08-16 07:55] tei06398 commented on #106
Also, isn't it funny how we're talking about 1.0.6 in issue 106?

[2016-08-17 14:21] JayWood commented on #106
@tei06398 Understood, I'll work on adding a more verbose error log, ie. showing what was returned. Unfortunately that's kind of vague and I need to know what was returned. Too many possibilities here. Expect an update friday.

[2016-08-17 14:32] tei06398 commented on #106
@JayWood will this be a WordPress/Plugin update, or just a plugin update?

[2016-08-19 19:44] JayWood commented on #106
@tei06398 It will be a Java update ( the java plugin ). Right now it's merely looking at the exception message. I'll update it to pull the full response from the web server instead.

[2016-08-22 00:27] falmon opened #107 "help"
hi

how can I download Minecraft plugin

I have 1.7 and 1.8 in 1 spigot.

and i really love your work good job

[2016-08-22 01:12] JayWood commented on #107
https://www.spigotmc.org/resources/woominecraft.25517/

[2016-08-22 01:23] #107 closed

[2016-08-23 14:57] Letsplaybar opened #109 "[WooMinecraft] A JSONObject text must begin with '{' at 1 [character 2 line 1]"
Hallo,
ich habe folgendes Problem:
wenn ich im Shop etwas in WooMinecraft kaufe und ich dann auf dem Server /woo check eingebe kommt die oben genannte Fehlermeldung. Der Kunde bekommt zwar sein gekauftes Packet aber dies wird nicht removed so das beim nächsten /woo check immer noch der Fehler kommt und er sein gekauftes Packet wieder bekommt. Sobald ich dies manuell removed habe kommt die Standart

[2016-08-23 21:05] JayWood commented on #109
Es tut mir leid , aber das ist Text übersetzt - Können Sie vorausgesetzt der Server Schlüssel , und der Spieler , der zu dem Zeitpunkt in der Befehl protokolliert wurde sollte für sein lief ? Ich werde den Beitrag bearbeiten und löschen Sie es , wenn ich es haben.

[2016-08-23 21:35] Letsplaybar commented on #109
Wäre nett wenn sie es einfach nochmal auf englisch schreiben können da dies kaum zu verstehen ist.

Please write the anther in english. this German is incomprehensible. i can read english, but terible write. :D

[2016-08-23 22:21] JayWood commented on #109
Awesome, thanks for that. Can you provide your server key, as well as a player name who has pending commands, if you have no players who have pending commands use my IGN as a user `Phyrax`

[2016-08-25 15:43] Letsplaybar commented on #109
He is a video with what i make to this mistake to produce: https://youtu.be/EnOCf7Eoh64
and he is my Server Key c5d1bb7e5d0449bd9709513bd89b2fe4

[2016-08-25 20:51] JayWood commented on #109
@Letsplaybar OH I see now, I can't thank you enough for doing a video for this... it helps tremendously. The issue isn't sending the commands from WordPress to you, that seems to be great. But it's after that happens that's causing the error. Which in-turn is causing the data to not be sent back to your server, or your server isn't processing the data.

Would you mind ( on your server ) using my I

[2016-08-25 21:12] Letsplaybar commented on #109
Why do you see have i about your IGN Phyrax a little pack of coins buyed.
http://prntscr.com/cafibb here a picture from this.
my Server ip is letsplaybar.de

[2016-08-25 21:44] JayWood commented on #109
![2c6c8a87a4b33c463f206fc0958258cb](https://cloud.githubusercontent.com/assets/2303074/17986886/f7ac9fce-6aea-11e6-9016-e8061e8d5f6f.png)

Great, yep I have it. I'm quite busy right now but please leave that order there and I'll do some testing. Also, for future reference, you do not need to store the commands with a slash `/` the code in the minecraft plugin does that for you.

[2016-08-25 21:48] Letsplaybar commented on #109
This have do a admin for me, i have it Change. And by this packet have I forgot this.

[2016-08-28 19:32] JayWood commented on #109
@Letsplaybar I've tried my hardest to duplicate this by normal means ( sending updates to the plugin via JSON ) basically mimicking how the minecraft server would do it with your server. For the life of me I cannot replicate the issue.

Therefore, I just released a maintenance release to print these stack traces instead of this vague message.

You can get it here https://github.com/WooMinecraft/Wo

[2016-08-29 04:45] Jogib commented on #106
MC version 1.8.8
Java plugin: 1.0.7
WP plugin: 1.0.6

Purchases are not going through :(
This is the full error i receive when running "/woo check":

29.08 06:42:00 [Server] WARN A JSONObject text must begin with '{' at 1 [character 2 line 1]
29.08 06:42:00 [Server] WARN org.json.JSONException: A JSONObject text must begin with '{' at 1 [character 2 line 1]
29.08 06:42:00 [Server] WARN at org.json

[2016-08-29 13:14] JayWood commented on #106
@Jogib Finally an error, thanks a million! Will jump on this right after work today.

[2016-08-29 22:34] JayWood commented on #106
@Jogib would you care to download the latest pre-release? https://github.com/WooMinecraft/WooMinecraft/releases/tag/1.0.8-PRE-1

Set `debug: true` in your config for the plugin, then run this again. It should output the full response from your web server if this same error occurs. Please provide the full log.

[2016-08-30 03:33] Jogib commented on #106
@JayWood
This is the output when running "/woo check" on 1.0.8 and debug: true:
30.08 05:13:35 [Server] WARN Logging an improper server response
30.08 05:13:35 [Server] ERROR /<!doctype html><html lang="en"><head>    <meta content="initial-scale=1.0, width=device-width, user-scalable=yes" name="viewport">    <meta content="yes" name="apple-mobile-web-app-capable">    <meta http-equiv="Content-Type

[2016-08-30 03:40] Jogib commented on #106
@JayWood
I also noticed right now, that several options are missing in the plugin.yml file?

In the Wiki i read that the follow options should be there:
lang: "en"
update_interval: 1500
url: "http://playground.dev"
key: ""

The only option i have is the "key".

When manually adding the rest and then running the "/woo check" command i get the following output:
30.08 05:37:57 [Server] WARN No data k

[2016-08-30 03:56] JayWood commented on #106
Yup was gonna just ask you that, seems your config was wiped. Probably an issue with the `/woo register` command.

[2016-08-30 04:03] JayWood commented on #106
@Jogib on the plus side, I know where I need to put another check now :smile:

[2016-08-30 04:33] Jogib commented on #106
@JayWood
I finally got it to work..

I had to do the following:
Add the missing options to the config.yml
Mark the product as downloadable in woocommerce (read in a previus issue that this was i requirement), though it's not stated in the wiki.

Though - "/woo check" still throws a "30.08 06:31:22 [Server] WARN No data key" in the console.

And finally one more thing.
When a purchase has been proc

[2016-08-30 04:39] JayWood commented on #106
This is supposed to happen, it's just a debug message. I'll de-escalate it to info instead.

Known issue, fix was in #108 PR - has yet to be merged into master. Hope to do that sometime this week. Saturday at the latest.

[2016-08-30 04:40] JayWood commented on #106
Jogib - Just want to say thanks for taking the time to debug this issue with me, it's greatly appreciated. I can't say how many times people open tickets and never follow up.

[2016-08-30 04:47] Jogib commented on #106
@JayWood
Glad to hear the "no data key" isn't a bug, but just a message.

Hope i helped you out, with this JSON error :)
Will be looking forward to af new release.

[2016-08-30 04:56] Jogib opened #110 "Order processing"
Since i'm an idiot on how to use Github properly, and actually wanted to pull a request for a new feature, I'm putting it here....

Is it possible to add a feature, where you can trace an order to see if the user actually got what he/she paid for?
Maybe by adding a process log or something to the java plugin?
Something like:
Order placed from "user" on website.
Order delivered to "user".

and if t

[2016-08-30 14:41] Letsplaybar commented on #109
Sorry that i jet write first. here the erorror log:
`[16:39:30] [Server thread/INFO]: Letsplaybar issued server command: /woo check
[16:39:30] [Server thread/WARN]: [WooMinecraft] null
[16:39:30] [Server thread/WARN]: java.lang.NullPointerException
[16:39:30] [Server thread/WARN]: 	at com.plugish.woominecraft.WooMinecraft.check(WooMinecraft.java:157)
[16:39:30] [Server thread/WARN]: 	at com.plugis

[2016-08-30 14:45] Jogib commented on #109
@Letsplaybar
Read from [here](https://github.com/WooMinecraft/WooMinecraft/issues/106#issuecomment-243324422)
@JayWood and I already fixed it.

Just waiting on his next release.

[2016-08-31 01:27] JayWood commented on #110
@Jogib yea this could be done in the log, really easily. ( Java side )

Ideally, I'm sure you want a log of orders by username? I could probably do this on the wordpress side and add a 'username' column to WooCommerce orders so you could filter by that and see if it was delivered or not.

[2016-08-31 11:57] TekkitCommando commented on #110
@JayWood I know I am not on the team anymore but maybe it is worth considering an API for WooMinecraft so that users can do these non-priority features themselves.

[2016-08-31 13:54] Jogib commented on #110
@JayWood
I'm NOT sure if the ordering should be by username or something else.

Maybe something really simple could be done. I'll try to explain.
The product has to be marked as virtual and downloadable in woocommerce, as it is right now.
What if you could remove the downloadable mark, and let the plugin tell woocommerce when the product has been delivered and then change the order as complete?

Y

[2016-08-31 21:38] JayWood commented on #110
@Jogib Your overall goal is to determine if an order has been delivered or not, ie. commands sent, correct?

I rely on WooCommerce to determine when an order is complete, I wouldn't want to be responsible for someone getting the 'product' ( commands ) without WooCommerce determining when the order is complete.

The pseudo handshake works like so.

WordPress Side ( Step 1 )
* User creates order
* C

[2016-08-31 21:39] JayWood commented on #110
@TekkitCommando to your point of making an API available, it already is :smile: just gotta know how to hook into it.

[2016-09-01 09:48] spannerman79 commented on #100
Its actually $199.00 - near $200USD/year.  For a server (like mine) that only financial worry is to only cover costs this is an extra cost that would be unfair to pass onto my "VIP" group for them to cover.

[2016-09-02 12:16] eric2788 commented on #109
i met a same problem too
version: https://gyazo.com/3a5e8f9651b5364711369161f9dd4a70
using spigot 1.10.2
error when issued product command: https://gyazo.com/a4d15033b013665ebb274d8f409e7dbe
error when used /woo check: https://gyazo.com/75b16a109be5aa45cbccfd7503b9234d

[2016-09-02 13:49] eric2788 commented on #109
and also i will timed loop the product command i have bought a long time ago......

[2016-09-02 20:29] JayWood commented on #109
@eric2788 make sure you're on the latest version ( downloadable [here](https://github.com/WooMinecraft/WooMinecraft/releases) )

You can also download the latest pre-release which adds a debug flag ( and is more helpful in your logs ).

Also you will want to check your config for the plugin in bukkit, as the previous two issue here were solved by making sure it wasn't blank. It should look like th

[2016-09-02 20:30] JayWood commented on #109
I'll have an update to this code by tomorrow evening, thanks for your patients guys.

[2016-09-03 08:09] eric2788 commented on #109
i have used 1.0.8 pre release
but
when i used /woo register
it take config.yml only leave a key: "xxxxxxxxxxxxxxxx"
and all option was gone
also

this bug still happen on this latest version

[2016-09-03 08:31] eric2788 opened #111 "BUG LIST in 1.0.8 pre-release plugin(I am using 1.10.2 woominecraft and 1.10.2 paperspigot)"
btw let me explain that error happened in my server:
1. as image  https://gyazo.com/3df52c8a895f25fce747a3d7ef9dc1f4.gif
before /woo register
[code]
after /woo register
[code]
i think i can add back option by myself:
[code]
but error ?
`http://pastebin.com/9cgbTNCT`

the plugin version is 1.0.8 pre-release
i am using 1.10.2 woominecraft plugin for my server with paperspigot 1.10.2

and /woo check

[2016-09-03 16:01] JayWood commented on #109
@Letsplaybar I've not released the fix for that yet, will do sometime today. The reason your server will 'loop the product command' is it's erroring out and not sending data back to the server.

[2016-09-03 16:22] JayWood commented on #109
@eric2788 Read above, put all the config items IN your config file.

[2016-09-04 15:51] eric2788 commented on #109
@JayWood  here's all the bugs i have found
https://github.com/WooMinecraft/WooMinecraft/issues/111

[2016-09-04 17:33] JayWood commented on #111
These issues will be fixed today, see changelog here - https://github.com/WooMinecraft/WooMinecraft/tree/dev-nightly#108

[2016-09-04 17:37] eric2788 commented on #111
@JayWood have this fixed version released? is it will turn to 1.0.9?

[2016-09-04 22:21] #95 closed

[2016-09-04 22:30] JayWood commented on #111
A release has been issued, it's 1.0.8 ( non-PRE release version ) and is available here: https://www.spigotmc.org/resources/woominecraft.25517/

[2016-09-04 22:30] JayWood commented on #111
@eric2788 please note, there is a corresponding WordPress release later today.

[2016-09-04 22:56] JayWood commented on #109
@eric2788 no need to cross post :smile: there's not a ton of tickets to sift through, so I read them all :+1:

@Jogib @Letsplaybar update is up, as always download and let me know ( wordpress AND java )

[2016-09-04 22:56] JayWood commented on #97
This is done, closing

[2016-09-04 22:56] #97 closed

[2016-09-04 23:18] eric2788 commented on #111
good， i will try the latest version today.
i really love this plugin features,caz wordpress is freer than buycraft

[2016-09-05 22:20] Letsplaybar commented on #109
@JayWood the error comes again.
`
[00:14:41] [Server thread/INFO]: Letsplaybar issued server command: /woo check
[00:14:41] [Server thread/WARN]: [WooMinecraft] A JSONObject text must begin with '{' at 1 [character 2 line 1]
[00:14:41] [Server thread/WARN]: org.json.JSONException: A JSONObject text must begin with '{' at 1 [character 2 line 1]
[00:14:41] [Server thread/WARN]: 	at org.json.JSONToke

[2016-09-06 03:23] Jogib commented on #110
I can't quite get it to work, like you explained.
I will get back to this as soon as i have some more time to test.

[2016-09-06 03:24] Jogib commented on #109
This error still pops up.

[2016-09-06 09:02] eric2788 commented on #109
@Jogib  omg..........expecting next version ....

[2016-09-06 09:03] eric2788 commented on #109
@Letsplaybar  have this plugin looped the product command ?

[2016-09-06 09:48] eric2788 commented on #111
@JayWood  kidding me dude.......
https://gyazo.com/ed4d9cf627b3f2d73a64e3b7dcb93bc2
i cannot use /woo register how can i generate a key......

[2016-09-06 12:54] Letsplaybar commented on #109
@JayWood  oh sorry has the wrong version have jet th rigth updatet.
have jet this im log:
`[14:39:44] [Server thread/INFO]: Letsplaybar[/87.168.177.38:35486] logged in with entity id 25 at ([lobbyServer]0.3751570228058439, 40.0, 0.40666330810947576)
[14:40:04] [Server thread/INFO]: Letsplaybar issued server command: /woo check
[14:44:51] [Thread-10/INFO]: UUID of player TheRiveHD is bbae096a-3a45-

[2016-09-06 13:14] JayWood commented on #109
@Letsplaybar this is unusual, it's not typical for the `wp_send_json_error()` or even `wp_send_json_success()` to send just an array `[14:52:04] [Server thread/INFO]: [WooMinecraft] []`

This is where the error is occurring - https://github.com/WooMinecraft/WooMinecraft/blob/master/src/main/java/com/plugish/woominecraft/WooMinecraft.java#L206

I'll have to push more debug code for this portion tod

[2016-09-06 18:30] Jogib commented on #109
@JayWood
I've been digging around a little with this issue...

And I've actually managed to install both the java and WP plugin, and get them to connect without errors and successfully execute the command given to the given product!!

The way i did it:
1. Installed java plugin
2. Started and stopped the server to generate config files
3. Manually added a random key - Since you disabled the "/woo r

[2016-09-06 19:41] Jogib commented on #110
@JayWood
The thing is, according to your step by step, that something doesn't quite add up.

**Wordpress side (step 1)**
Second step here already cracks the film.
For the product to process automatically, it must be ticked as a downloadable product, which mean by woocommerce that the order will change state "Completed", right after payment. As long as the order stays in the "Pending" state, nothin

[2016-09-06 19:43] Jogib commented on #111
@eric2788
Read my last post in #109
[https://github.com/WooMinecraft/WooMinecraft/issues/109#issuecomment-245044969]

And then follow the wiki for creating a product.

[2016-09-06 23:26] JayWood commented on #111
@eric2788 `/woo register` was removed due to the problems it's caused, more bugs than benefits. If you're running a server, you should at the very least know how to edit a config. @Jogib provided a great how to.

I also have a wiki which covers what the config should look like by default.
https://github.com/WooMinecraft/WooMinecraft/wiki/Step-1:-Server-Plugin-Installation#plugin-config

Closing th

[2016-09-06 23:26] #111 closed

[2016-09-06 23:27] JayWood commented on #109
@Jogib The proper way of handling configs, you're spot on there. Had you re-ran `/woo check` afterwards to see if it re-sent the items to you?

[2016-09-06 23:36] JayWood commented on #110
@Jogib based on your response on #109 this should be resolved, if not a duplicate at this point?  Overall I just wanted to give you an idea of what the 'intent' was, not rather it was working or broken :smile:

[2016-09-07 00:04] JayWood commented on #106
Closing this, any on-going issues can be followed in the above thread.

[2016-09-07 00:04] #106 closed

[2016-09-07 00:24] JayWood commented on #109
@Jogib if you're still getting a similar issue as above can you verify what version of the WordPress plugin you're using?

@Letsplaybar Are you on the latest WordPress version as well?

[2016-09-07 02:22] JayWood commented on #109
Instead of waiting for a reply, tested this for myself. The `[]` in the message signifies the empty array it's sending to WordPress, because no users were processed. So I tested this with users not online, but still pending donations, attached is the screenshot.

![dd8d6fb737ba22c06759b799094d6cdc](https://cloud.githubusercontent.com/assets/2303074/18297659/53279b94-7480-11e6-85be-b84e5742b14e.png

[2016-09-07 08:37] eric2788 commented on #109
i still cannot understand how to get a key......

[2016-09-07 08:52] eric2788 commented on #110
although it has no error now,it still has also executed my hisotry(Old) product command.....

[2016-09-07 09:09] eric2788 commented on #110
@JayWood can you make the command can be executed when that player is offline ?
and also can this plugin can set whnether only support premium players.
Error while connecting to MojangAPI just a warning,it still can executed the command for non-premium players
btw that's plugin's good,the bug has fixed totally

[2016-09-07 13:29] JayWood commented on #110
I can make commands be executed for offline players, yes, but what scenario would you require running a command with a user offline? Ranks? Currently users are required to be online for a command to run.

I will not go around this, you're at Mojang's mercy. I use Mojang to validate the user's account, sorry.

Glad to hear the plugin is working as expected :+1:

[2016-09-07 14:00] Letsplaybar commented on #109
@JayWood  yes wordpress is on the last version I upgrade all on my Wordpress side dayly
that have i Make:
1. update all resouces
2. delet the old product
3. buy the new product
4. command /woo check in Minecraft on the server
5.show in the last.log and find evry when i make /woo check or the scheduler run the error.

i hope this informations can help you

[2016-09-07 14:25] Letsplaybar commented on #109
and this comes when i this make with me Minecraft acount:
`[16:22:51] [Server thread/INFO]: Letsplaybar issued server command: /woo check
[16:22:51] [Server thread/INFO]: [WooMinecraft] [340]
[16:22:51] [Server thread/WARN]: [WooMinecraft] A JSONObject text must begin with '{' at 1 [character 2 line 1]
[16:22:51] [Server thread/WARN]: org.json.JSONException: A JSONObject text must begin with '{' a